doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Yachting time
    meta(name="description" content = "Yachting Time - организация и проведение незабываемых морских путешествий для наших гостей")
    meta(name=viewport content = "width = device-width, initial-scale = 1")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="lib/bootstrap/css/mdb.min.css")
    link(rel="stylesheet" href="lib/css-awesome/all.min.css")
    link(rel="stylesheet" href="lib/css-awesome/brands.css")
    link(rel="stylesheet" href="lib/glide/glide.core.min.css")
    link(rel="stylesheet" href="css/style.min.css")

  body
    include ../modules/header
    include ../modules/promo
    main.landing
      .wrap
        include ../modules/upcoming-trips
        include ../modules/intro
        include ../modules/impressions
        include ../modules/yacht
        include ../modules/price--included
        include ../modules/price--not-included
        include ../modules/reviews
        include ../modules/about
        include ../modules/team
      .landing__gradient
        .wrap
          include ../modules/questions
          section.landing__form.form
            include ../modules/form
    include ../modules/footer
  
    .popup-form
      .popup-form__form.form
        button.form__btn-close(type="button" aria-label="закрыть окно")
        h2.form__title Забронировать круиз
        p.form__desc.form__desc--places Оставьте свой номер и мы свяжемся с вами в течение 10 минут для уточнения подробностей
        p.form__desc.form__desc--not-places Оставьте свой номер и мы свяжемся с вами, когда появятся свободные места
        form.form__form(method = "POST" action="https://formspree.io/mzbvobkj")
          .form__cruises.cruises-select.cruises-select--popup
            label.cruises-select__tab(for="cruise__dodecanes-popup")
            input(type="radio" id="cruise__dodecanes-popup" name="cruise" value="Греция. Архипелаг Додеканес. 25 апреля - 02 мая")
            label.cruises-select__tab(for="cruise__not-places")
            input(type="radio" id="cruise__not-places" name="cruise" value="Турция. Майские праздники на море. 2 мая - 9 мая. Мест нет.")
            label.cruises-select__tab(for="tourkin-view-popup")
            input(type="radio" id="tourkin-view-popup" name="cruise" value="Турция. Взгляд с другой стороны. 9 мая - 16 мая")
            label.cruises-select__tab(for="horvatia-way-popup")
            input(type="radio" id="horvatia-way-popup" name="cruise" value="Хорватия. Путь в жемчужину Адриатики. 25июня - 6 июля")
            label.cruises-select__tab(for="horvatia-isle-popup")
            input(type="radio" id="horvatia-isle-popup" name="cruise" value="Хорватия. По островам Средней Долмации. 4 июля - 11 июля")
            label.cruises-select__tab(for="sicilia-popup")
            input(type="radio" id="sicilia-popup" name="cruise" value="Сицилия. Липарские острова. 8 августа - 15 августа")
          .form__input-wrap.form__input-wrap--counter
            label.form__label.form__label--number(for="places-popup") Кол-во мест
            .form__counter-wrap
              button.form__counter-tab.form__counter-tab--up(type="button" aria-label="Увеличить на 1")
              input.form__counter(type="number" value="1" id="places-popup" name="places" readonly)
              button.form__counter-tab.form__counter-tab--down(type="button" aria-label="Уменьшить на 1")
          .form__input-wrap.form__input-wrap--text
            label.form__label.form__label--text(for="name-popup") Ваше имя
            input.form__input(type="text" id="name-popup" name="name" autocomplete="off")
          .form__input-wrap.form__input-wrap--text
            label.form__label(for="tel-popup") Ваш номер телефона
            input.form__input(type="tel" id="tel-popup" name="telephone" autocomplete="off")
          button.form__submit(type="submit") Забронировать

    script(src="js/polyfill.min.js")
    script(src="lib/glide/glide.min.js")

    script(type="text/javascript" src="lib/bootstrap/js/jquery.min.js")
    script(type="text/javascript" src="lib/bootstrap/js/popper.min.js")
    script(type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript" src="lib/bootstrap/js/mdb.min.js")

    
    script(src="js/nav-menu.js")
    script(src="js/uncoming-trips.js")
    script(type="text/javascript" src="js/form.js")
    script(src="js/script.js")

    
    
