doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Yachting time
    meta(name="description" content = "Yachting Time - организация и проведение незабываемых морских путешествий для наших гостей")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="lib/glide/glide.core.min.css")
    link(rel="stylesheet" href="css/style.min.css")

  body
    include ../modules/header
    include ../modules/promo
    main.landing
      .wrap
        include ../modules/upcoming-trips
        include ../modules/intro
      include ../modules/impressions
      .wrap
        include ../modules/yacht
        include ../modules/price--included
        include ../modules/price--not-included
      include ../modules/attraction
      .wrap
        include ../modules/reviews
        include ../modules/about
      .landing__gradient
        .wrap
          include ../modules/questions
          section.landing__form.form
            include ../modules/form
    include ../modules/footer
  
    .popup-form
      .popup-form__form.form
        button.form__btn-close(type="button" aria-label="закрыть окно")
        h2.form__title Забронировать круиз
        p.form__desc.form__desc--places Оставьте свой номер и мы перезвоним вам для уточнения подробностей
        p.form__desc.form__desc--not-places Оставьте свой номер и мы свяжемся с вами, когда появятся свободные места
        form.form__form(method = "POST" action="https://formspree.io/mzbvobkj")
          .form__input-wrap.form__input-wrap--text
            label.form__label.form__label--text(for="name-popup") Ваше имя
            input.form__input(type="text" id="name-popup" name="name" autocomplete="off")
          .form__input-wrap.form__input-wrap--text
            label.form__label(for="tel-popup") Ваш номер телефона
            input.form__input(type="tel" id="tel-popup" name="telephone" autocomplete="off")
          p.form__personal-data Заполняя форму, я даю согласие на обработку 
            a.form__personal-link(href="https://yachtingtime.ru/personalnye-dannye-tury-kruizy-na-jahtah") персональных данных
          button.form__submit(type="submit") Забронировать
    .popup-thanks.popup-thanks--black
      .popup-thanks__wrap
        h2.popup-thanks__title Спасибо!#[br]Ваша заявка принята
        p.popup-thanks__desc Мы скоро вам перезвоним
        button.popup-thanks__btn(type="button") Вернуться на сайт
    .popup-error.popup-error--black
      .popup-error__wrap
        h2.popup-error__title Ошибка отправки
        p.popup-error__desc Не удалось отправить заявку, попробуйте снова через 5 минут
        button.popup-error__btn(type="button") Хорошо

    script(src="js/polyfill.min.js")
    script(src="lib/glide/glide.min.js")
    script(src="lib/jquery.min.js")
    script(src="lib/mask/imask.js")

    script(src="js/script.js")
    script(src="js/yacht.js")
    script(src="js/nav-menu.js")
    script(src="js/impression.js")
    script(src="js/uncoming-trips.js")
    script(src="js/form.js")

    script(src="js/glide.js")