doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Yachting time
    meta(name="description" content = "Yachting Time - организация и проведение незабываемых морских путешествий для наших гостей")
    meta(name=viewport content = "width = device-width, initial-scale = 1")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="lib/bootstrap/css/mdb.min.css")
    link(rel="stylesheet" href="lib/css-awesome/all.min.css")
    link(rel="stylesheet" href="lib/css-awesome/brands.css")
    link(rel="stylesheet" href="lib/glide/glide.core.min.css")
    link(rel="stylesheet" href="css/style.min.css")

  body
    include ../modules/header
    include ../modules/promo
    main.landing
      .wrap
        include ../modules/upcoming-trips
        include ../modules/intro
        include ../modules/impressions
        include ../modules/yacht
        include ../modules/price--included
        include ../modules/price--not-included
        include ../modules/reviews
        include ../modules/about
        include ../modules/team
        include ../modules/questions
        section.landing__form.form
          include ../modules/form
    include ../modules/footer   
  
    script(src="js/polyfill.min.js")
    script(src="lib/glide/glide.min.js")

    script(type="text/javascript" src="lib/bootstrap/js/jquery.min.js")
    script(type="text/javascript" src="lib/bootstrap/js/popper.min.js")
    script(type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript" src="lib/bootstrap/js/mdb.min.js")
    
    script(src="js/nav-menu.js")
    script(src="js/uncoming-trips.js")
    script(src="js/script.js")

    
    
