@mixin btn-color {
    display: block;
    padding-top: 19px;
    padding-bottom: 21px;
    width: 180px;
    height: 55px;
    text-align: center;
    color: $white;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border: 0;

    transition: 0.4s;

    &:hover {
      outline: none;
      font-weight: 700;
    }

    &:active, &:focus {
        outline: none;
        font-weight: 700;
    }

    @media (min-width: $tablet-width) {
        width: 200px;
        height: 60px;
        padding-top: 22px;
        padding-bottom: 21px;
        font-size: 14px;
        line-height: 17px;
        border-radius: 5px;
    }
}