@mixin btn {
  display: block;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  border: none;
  text-align: center;
  border-radius: 3px;
  font-size: 16px;
  line-height: 19px;
  font-family: $font-main;
  font-weight: 400;
  color: $white;
  transition: 0.6s;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}