@mixin input {
  position: relative;
  width: 288px;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: none;
  background-color: #e4e3e3;

  &:hover, &:active, &:focus {
    outline: none;
  }

  @media(min-width: $tablet-width) {
    padding-left: 35px;
    width: 413px;
    height: 60px;
    border-radius: 5px;

    font-size: 14px;
    line-height: 17px;
  }
}