@mixin play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: $white;
  border-radius: 50%;
  border: none;
  z-index: 1;
  &::before {
    content: "";
    width: 0;
    height: 0;
    border: 15px solid;
    border-width: 15px 15px 15px 25px;
    position: absolute;
    left: 55%;
    top:50%;
    transform: translate(-50%, -50%);
    border-color: transparent;
    border-left-color: $green;
    border-right: none;
  }

  @media (min-width: 650px) {
    transform: translate(-50%, -50%) scale(1.5);
  }

  @media (min-width: 1300px) {
    transform: translate(-50%, -50%) scale(1.5);
  }
}