@mixin popup {
  position: fixed;
  overflow-y: auto;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  padding-top: 10px;
  z-index: 1;
  background-color: #5555557e;
}