.about {
  text-align: center;
}

.about__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 400;
}
.about__hello {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.about__desc {
  margin-bottom: 40px;
  a, p, strong {
    font-size: 12px;
    line-height: 18px;
  }
  p {
    margin-bottom: 20px;
    font-weight: 400;
  }
  strong, a {
    font-weight: 700;
  }
}

@media (min-width: $tablet-width) {}
@media (min-width: $desktop-width) {}