.about {}

.about__title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
}
.about__hello {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.about__desc {
  p {
    
  }
}

.about__img {
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 200px;
  height: 230px;
  overflow: hidden;
  
  img {
    @include img-full-height;
  }
}

@media (min-width: $tablet-width) {}
@media (min-width: $desktop-width) {}