.about {
  text-align: center;
}

.about__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 400;
}

.about__hello {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.about__desc {
  margin-bottom: 40px;

  a,
  p,
  strong {
    font-size: 12px;
    line-height: 18px;
  }

  p {
    margin-bottom: 18px;
    font-weight: 400;
  }

  strong,
  a {
    font-weight: 700;
  }
}

@media (min-width: $tablet-small-width) {
  .about__desc {
    margin: 0 auto;
    max-width: 400px;
  }

  .team__slide {
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .about__desc {
    max-width: 415px;
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .about__title {
    margin-bottom: 60px;
  }

  .about__desc {
    max-width: 680px;
    margin-bottom: 100px;

    p {
      font-size: 20px;
      line-height: 28px;
    }

    strong {
      font-size: 20px;
      line-height: 28px;
    }
  }
}