.also {}

.also__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.also__list {
  max-height: 150px;
  margin: 0;
}

.also__item {
  margin: 0 auto;
  width: 90px;
}

.also__img {
  position: relative;
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  background-color: $gray;
  overflow: hidden;
  img {
    @include img-full-height;
  }
}

.also__desc {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.also__bullets {
  @include toggle-wrap;
}

.also__bullet {
  @include toggle;
}


@media(min-width: $tablet-small-width) {}



@media (min-width: $tablet-width) {}



@media (min-width: $desktop-width) {}
