.also {}

.also__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.also__list {
  max-height: 150px;
  margin: 0;
}

.also__item {
  margin: 0 auto;
  width: 90px;
}

.also__img {
  position: relative;
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
  overflow: hidden;
  img {
    @include img-full-height;
  }
}

.also__desc {
  text-align: center;
  margin-top: 0;
  margin-bottom: 42px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
}

.also__track {
  margin-bottom: 12px;
}

.also__bullets {
  @include toggle-wrap;
}

.also__bullet {
  @include toggle;
}

@media (min-width: $tablet-width) {

  .also__item-wrap {
    width: 125px;
  }

  .also__list {
    justify-content: space-between;
  }

  .also__item {
    width: 100%;
  }

  .also__title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 60px;
  }

  .also__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .also__desc {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .also__track {
    margin-bottom: 20px;
  };

  .also__bullets {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .also__list {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
