.attraction {
  position: relative;
  background-color: #70abd9;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 26px;
  padding-right: 26px;
  text-align: center;
  background-image: url(../img/attraction/bg.jpg);
  background-position: center;
  background-size: auto 100%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(79, 79, 79, .1);
  }
}

.attraction__wrap {
  position: relative;
  width: 275px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  color: $white;
}

.attraction__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 40px;
}

.attraction__desc {
  font-size: 14px;
  line-height: 22px;
  // margin-bottom: 60px;
}

.attraction__btn {
  position: relative;
  width: 200px;
  height: 60px;
  margin: 0 auto;

  @include btn-color;

  background-color: #4676b9;

  transition: 0.4s;

  &:active, &:focus {
    background-color: #3f6cac;
  }
}

@media (min-width: $tablet-width) {
  .attraction {
    max-width: 785px;
    margin-left: auto;
    margin-right: auto;
  }

  .attraction__wrap {
    width: 100%;
  }

  .attraction__title {
    width: 100%;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
  }

  .attraction__desc {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .attraction {
    max-width: 1200px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

    .attraction__desc {
    font-size: 24px;
    line-height: 32px;
  }
}

