// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/montserrat-400-regular.woff2') format('woff2'),
//     url('../fonts/montserrat-400-regular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/montserrat-500-medium.woff2') format('woff2'),
//     url('../fonts/montserrat-500-medium.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/montserrat-600-semibold.woff2') format('woff2'),
//     url('../fonts/montserrat-600-semibold.woff') format('woff');
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/montserrat-700-bold.woff2') format('woff2'),
//     url('../fonts/montserrat-700-bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }

body,
html {
  margin: 0;
  overflow-x: hidden;
  @include text;
}

.body {
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  min-width: $mobile-width;
  margin: 0;
  overflow-x: hidden;
  background-color: $white;
}

a {
  text-decoration: none;
  @include text;
  color: $black;
  transition: 0.4s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  @include visually-hidden;
}

.wrap {
  margin: 0 auto;
  width: 288px; // карточка 288 по макету

  @media(min-width: $tablet-small-width) {
    width: 596px; // 2 карточки 288+288+20
  }

  @media(min-width:$tablet-width) {
    width: 785px; // 2  карточки десктоп формата 374+374+37
  }

  @media(min-width:$desktop-width) {
    width: 1200px; //по макету
  }
}

.fixed {
  position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-main;
  color: $black;
}

h1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}

h2 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400
}

h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

h4 {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  h1 {
    font-size: 64px;
    line-height: 75px;
  }

  h2 {
    font-size: 48px;
    line-height: 59px;
  }

  h3 {
    font-size: 36px;
    line-height: 44px;
  }

  h4 {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////




.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }
  
  .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
  background: #e65100;
  }
  
  .animated-icon2 span {
  background: #e3f2fd;
  }
  
  .animated-icon3 span {
  background: #f3e5f5;
  }
  
  .animated-icon1 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
  top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
  top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  }
  
  /* Icon 3*/
  
  .animated-icon2 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
  }
  
  .animated-icon2 span:nth-child(4) {
  top: 20px;
  }
  
  .animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  .animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  .animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  
  .animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  /* Icon 4 */
  
  .animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
  }
  
  .animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  }
  
  .animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
  }