// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/montserrat-400-regular.woff2') format('woff2'),
//     url('../fonts/montserrat-400-regular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/montserrat-500-medium.woff2') format('woff2'),
//     url('../fonts/montserrat-500-medium.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/montserrat-600-semibold.woff2') format('woff2'),
//     url('../fonts/montserrat-600-semibold.woff') format('woff');
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/montserrat-700-bold.woff2') format('woff2'),
//     url('../fonts/montserrat-700-bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }

body,
html {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  @include text;
}

.body {
  
  box-sizing: border-box;
  max-width: 100%;
  min-width: $mobile-width;
  margin: 0;
  background-color: $white;
}

a {
  text-decoration: none;
  @include text;
  color: $black;
  transition: 0.6s;

  &:hover {
    outline: none;
    opacity: 0.7;
    color: $black;
  };

  &:focus, &:active {
    outline: none;
    opacity: 0.3;
    color: $black;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  @include visually-hidden;
}

.wrap {
  margin: 0 auto;
  width: 288px; // карточка 288 по макету

  @media(min-width: $tablet-small-width) {
    width: 596px; // 2 карточки 288+288+20
  }

  @media(min-width:$tablet-width) {
    width: 785px; // 2  карточки десктоп формата 374+374+37
  }

  @media(min-width:$desktop-width) {
    width: 1200px; //по макету
  }
}

.fixed {
  position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-main;
  color: $black;
}

h1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}

h2 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400
}

h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

h4 {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  h1 {
    font-size: 64px;
    line-height: 75px;
  }

  h2 {
    font-size: 48px;
    line-height: 59px;
  }

  h3 {
    font-size: 36px;
    line-height: 44px;
  }

  h4 {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.glide__slides {
  margin: 0;
  padding: 0;
}

.glide__bullet--active {
  transform: scale(1.4) !important;
}

@media (min-width: $tablet-width) {
    .yacht__tab.glide__bullet--active {
    transform: scale(1) !important;
    .yacht__tab-text {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}



.glide__track {
  height: auto;
}

#tooltip {
  background:rgba(255, 255, 255, 0.9);
  color:#000000;
  text-align:center;
  padding:6px 0;
  position:absolute;
  max-width:250px;
  z-index:9999;
  display:none;
  border-radius:3px;
  box-shadow:2px 2px 4px rgba(0, 0, 0, 0.2);
  padding:5px 8px;
  font-size:12px;
  text-shadow:none;
}

#tooltip:before {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 6px dashed rgba(255, 255, 255, 0.9);
  top: -6px;
  left:15px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
  content:'';
}