.header {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.header__wrap {
  display: flex;
}

.header__logo {
  img{}
}

.header__menu {
  order: 1;
}

.header__tel {
  
}

.header__promo {}



@media(min-width: $tablet-small-width) {}



@media (min-width: $tablet-width) {}



@media (min-width: $desktop-width) {}
