.impressions {
  margin-bottom: 72px;
}

.impressions__title {}

.impressions__list {
  margin-bottom: 40px;
}

.impressions__also {
}

.impressions__img {
  img {}
}

.impressions__item {
  display: flex;
  &--reverse {
    .impressions__desc {
      order: 1;

      h3 {}

      p {}
    }
  }
}



@media(min-width: $tablet-small-width) {}



@media (min-width: $tablet-width) {}



@media (min-width: $desktop-width) {}
