.intro {}

.intro__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.intro__list {

}

.intro__slide {
  margin: 0 auto;
  width: 230px;
  text-align: center;
}

.intro__item {}

.intro__item-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.intro__img {
  margin-bottom: 25px;
}

.intro__signature {
  img {}
}
.intro__item-title {}

.intro__desc {}

.intro__bullets {
  @include toggle-wrap;
  width: 92px;
}

.intro__bullet {
  @include toggle;
}

.intro__glide {
  cursor: pointer;
  margin-bottom: 70px;
}

@media(min-width: $tablet-small-width) {}



@media (min-width: $tablet-width) {

  .intro__slide {
    width: 195px;
  }

  .intro__glide {
    margin-bottom: 130px;
  }

  .intro__title {
    margin-bottom: 64px;
  }

  .intro__img {
    margin-bottom: 30px;
  }

  .intro__item-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .intro__desc {
    max-width: 227px;
    font-size: 14px;
    line-height: 20px;
  }
}



@media (min-width: $desktop-width) {
  .intro__list {
    justify-content: space-between;
  }

  .intro__glide {
    cursor: auto;
    margin-bottom: 60px;
  }

  .intro__item {
    width: 205px;
  }

  .intro__slide {
    width: 100%;
    margin: 0;
  }

  .intro__bullets {
    display: none;
  }
}
