.menu {}

.menu__wrap {
    position: relative;
}

.menu__burger-btn {
    position: relative;
    border: none;
    background-color: transparent;
    z-index: 1;
    transition: 0.4s;
    outline: 0;
    &:hover {
      outline: none;  
    }

    &:active, &:focus {
        outline: none;
    }
}

.menu__list {
    padding: 0;
    padding-right: 10px;
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu__item {
    margin-bottom: 30px;
}

.menu__link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: $white;
    &:hover {
        color: $white;
      };
    
      &:focus, &:active {
        color: $white;
      }
}

@media (min-width: $tablet-width) {
    .menu__list {
        margin-bottom: 0;
        padding: 0;
        background-color: transparent;
        flex-direction: row;
        flex-wrap: wrap;
        width: 405px;
    }

    .menu__link {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
    }

    .menu__item {
        margin-right: 25px;
        margin-bottom: 0;
        &:nth-child(4n +4) {
            margin-right: 0;
        }
    }

    .menu__burger-btn {
        display: none;
    }
}

@media (min-width: $desktop-width) {
    .menu__wrap {
      padding-bottom: 12px;
    }

    .menu__item {
        margin-right: 40px;
        margin-bottom: 0;
        &:nth-child(4n +4) {
            margin-right: 0;
        }
    }

    .menu__link {
        font-size: 18px;
        line-height: 22px;
      }
}
