.popup-thanks {
  @include popup;
  z-index: 15;
  transition: 0.6s;
  &.active {
    opacity: 1;
    pointer-events: auto;
    .popup-thanks__wrap {
      transform: none;
    }
  }

  opacity: 0;
  pointer-events: none;
  padding-top: 10vh;

  &--white {
    .popup-thanks__wrap {
      background-color: #86b8df;
      transform: translateY(-100vh);
      transition: 0.6s;
    }

    .popup-thanks__title {
      color: $black;
    }

    .popup-thanks__desc {
      color: $black;
    }
    

    .popup-thanks__btn {
      background-color: #4676b9;
    }
  }

  &--black {
    .popup-thanks__wrap {
      background-color: rgba(21, 100, 128, .9);
    }

    .popup-thanks__title {
      color: $white;
    }

    .popup-thanks__desc {
      color: $white;
    }

    .popup-thanks__btn {
      background-color: #058e6e;
      color: $white;
      &:hover, &:active, &:focus {
        color: white;
      }
    }
  }
}

.popup-thanks__wrap {
  padding-top: 74px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 75px;
}

.popup-thanks__title {
  margin: 0 auto;
  text-align: center;
  width: 205px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom:20px;
}

.popup-thanks__desc {
  max-width: 340px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}

.popup-thanks__btn {
  @include btn-color;
  border-radius: 5px;
  height: 60px;
  width: 200px;
  font-size: 14px;
  line-height: 14px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .popup-thanks__wrap {
    padding-top: 110px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 85px;
  }
  
  .popup-thanks__title {
    width: 390px;
    font-size: 24px;
    line-height: 29px;
  }
  
  .popup-thanks__desc {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 22px;
  }
}