.price {
  max-width: 310px;

  &--not-included {
    .price__item-title {
      width: auto;
    }

    .price__item-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;

      margin-bottom: 10px;
    }

    .price__desc {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
    }

  }
}

.price__title {
  margin-bottom: 40px;
  text-align: center;
}

.price__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
}

.price__item {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
}

.price__item-wrap {
  max-width: 192px;
}

.price__item-title {
  width: 50px;
}

.price__img {
  width: 60px;
  flex-shrink: 0;
  margin-right: 20px;

  img {
    width: 100%;
  }
}

.price__desc {
  margin: 0;
  padding: 0;
}



@media(min-width: $tablet-small-width) {
  .price__item-wrap {
    max-width: 220px;
  }
}



@media (min-width: $tablet-width) {
  .price {
    max-width: 100%;
  }

  .price__title {
    width: 592;
    margin-bottom: 58px;
  }

  .price__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 126px;
  }

  .price__item {
    display: block;
    text-align: center;
    max-width: 140px;

    .price__img {
      width: 90px;
      margin: 0 auto;
      margin-bottom: 28px;
    }
  }

  .price--included {
    p {
      text-transform: uppercase;
    }
  }
}



@media (min-width: $desktop-width) {
  .price__item {
    max-width: 190px;
  }

  .price {
    &--not-included {
      .price__item {
        max-width: 150px;
      }
    }
  }
}