.promo {
  padding: 25px;
  min-height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.promo__wrap {
  margin: 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 67px;
  text-align: center;
  color: $white;
}

.promo__desc {
  display: none;
}

.promo__link {
  @include btn
}

// section.landing__promo.promo(style="background-image: url('img/header/bg.jpg')")
//   .promo__wrap
//     h1.promo__title Яхтинг по Средиземному морю
//     p.promo__desc Проведите отпуск в атмосфере морского приключения
//     a.promo__link(href='#' download='cruises-yachting-time') Программа круизов



@media(min-width: $tablet-small-width) {
  .promo__title {
    margin-bottom: 16px;
  }
  .promo__desc {
    display: block;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    color: $white;
  }

  .promo__wrap {
    margin: 0 auto;
    width: 450px;
  }
}



@media (min-width: $tablet-width) {
  .promo {
    background-position: top right;
  }

  .promo__title {
    text-align: left;
  }

  .promo__wrap {
    padding-top: 150px;
    padding-bottom: 105px;
    width: 785px;
    display: block;
  }

  .promo__desc {
    max-width: 560px;
    text-align: left;
    font-size: 28px;
    line-height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrap {
    padding-top: 325px;
    width: 1200px;
    display: block;
  }

  .promo__desc {
    font-size: 32px;
    line-height: 44px;
  }
}
