.promo {
  padding: 25px;
}

.promo__wrap {
  margin: 0 auto;
  width: 250px;
  height: auto;
}

.promo__title {}

.promo__desc {}

.promo__link {}

.promo__bg {
  img {}
}



@media(min-width: $tablet-small-width) {}



@media (min-width: $tablet-width) {}



@media (min-width: $desktop-width) {}
