.questions {
  .questions__btn-collapse--min {
    display: none;
    &:before {
      top: 70%;
      transform: translate(-50%,-50%) rotate(225deg);
    }
  }
}

.questions__title {
  text-align: center;
  margin-bottom: 30px;
}

.questions__list {
  counter-reset: num;
  list-style: none;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.questions__item {
  position: relative;
  font-size: 12px;
  line-height: 15px;
  transition: 0.6s;

  &.active {
    .questions__answer {
      position: static;
      pointer-events: auto;
      opacity: 1;
    }

    .questions__btn {
      font-weight: 700;
      background-color: rgba(255, 255, 255, .9);

      &::before {
        top: 45%;
        transform: translate(-50%, -50%) rotate(225deg);
      }
    }
  }
}

.questions__btn {
  cursor: pointer;
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  height: 50px;
  padding-left: 31px;
  padding-right: 30px;
  margin-bottom: 5px;
  text-align: left;
  transition: .6s;

  &:hover,
  &:active {
    outline: none;
    font-weight: 700;
    background-color: rgba(255, 255, 255, .9);
  }

  &::after {
    content: counter(num) '.';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 260px;
    counter-increment: num;
  }

  &::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-left: none;
    border-top: none;
    right: 7px;
    top: 45%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: .6s;
  }
}

.questions__answer {
  position: absolute;
  pointer-events: none;
  opacity: 0;

  width: 100%;
  font-size: 12px;
  line-height: 15px;
  background-color: white;
  font-size: 12px;
  line-height: 18px;
  padding: 20px;
  margin-top: -5px;
  margin-bottom: 5px;
  transition: 0.6s;

  p {
    margin-bottom: 15px;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin: none;
  }

  li {
    position: relative;
    padding-left: 20px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #a9a7a7;
    }
  }
}

.questions__btn-collapse {
  cursor: pointer;
  display: block;
  position: relative;
  text-align: center;
  padding-right: 30px;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  transition: 0.6s;

  &:hover {
      opacity: 0.7;
      outline: none;
  }

  &:active, &:focus {
      opacity: 0.4;
      outline: none;
  }

  &::before {
      content: '';
      position: absolute;
      height: 12px;
      width: 12px;
      border: 1px solid $black;
      border-left: none;
      border-top: none;
      right: 0;
      top: 30%;
      transform: translate(-50%, -50%) rotate(45deg);
  }

  &--min {
      display: none;
  
      &::before {
          top: 70%;
          transform: translate(-50%, -50%) rotate(-135deg);
      } 
  }
}

.questions__item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
  display: none;
}

@media(min-width: $tablet-small-width) {
  .questions__btn {
    &::after {
      top: 17px;
      transform: none;
      right: 570px;
    }
  }
}

@media (min-width: $tablet-width) {
  .questions__item {
    &.active {
      .questions__btn {
        background-color: rgba(255, 255, 255, .8);
      }
      .questions__answer {
        position: absolute;
        left: 400px;
        top: 7px;
      }
    }
  }

  .questions__title {
    margin-bottom: 60px;
  }

  .questions__list {
    margin: 0 auto;
    margin-bottom: 30px;
    padding-right: 410px;
    width: 785px;
  }

  .questions__answer {
    position: absolute;
    left: 400px;
    top: 7px;

    &:before {
      content: '';
      position: absolute;
      left: -13px;
      top: 0;
      width: 45px;
      height: 45px;
      background-color: $white;
      transform: scaleY(0.6)rotate(45deg);
    }

    p {
      position: relative;
    }
  }

  .questions__btn {
    background-color: #bdd4e7;
    border-radius: 5px;
    &::before {
      content: none;
    }
    &::after {
      top: 18px;
      right: 348px;
    }
  }

  .questions__btn-collapse {
    margin-left: 125px;
    padding-left: 0;
  }
}



@media (min-width: $desktop-width) {
  .questions__item {
    &.active {
      .questions__answer {
        width: 371px;
        left: 435px;
        top: 23px;
      }
    }
  }

  .questions__btn-collapse {
    margin-left: 325px;
    font-size: 18px;
    line-height: 22px;
  }

  .questions__list {
    width: 825px;
  }

  .questions__item {
    width: 413px;
  }

  .questions__btn {
    height: 80px;
    margin-bottom: 10px;
    padding-left: 52px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 22px;
    &::after {
      top: 29px;
      right: 366px;
    }
  }

  .questions__answer {
    width: 371px;
    left: 435px;
    top: 23px;

    padding-left: 35px;
    padding-right: 35px;
    padding-top: 38px;
    padding-bottom: 28px;

    font-size: 18px;
    line-height: 24px;
  }
}