.reviews {
  text-align: center;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  width: 286px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.reviews__slide {
  display: flex;
  height: auto;
}

.reviews__img {
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.reviews__desc {
  flex-grow: 1;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 30px;
}

.reviews__author {
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
  font-size: 12px;
  line-height: 15px;
  
  a {
    display: block;
    font-weight: 700;
    text-decoration: underline;
    &:hover, &:active, &.focus {
      color: $black;
    }
  }

  time {}
}

.reviews__bullets {
  @include toggle-wrap;
  width: 54px;
}

.reviews__bullet {
  @include toggle
}



@media(min-width: $tablet-small-width) {}



@media (min-width: $tablet-width) {
  .glide__slides {
    justify-content: space-between;
  }

  .reviews__slide {
    width: 220px;
  }

  .reviews__item {
    width: 100%;
  }

  .reviews__img {
    width: 130px;
    height: 130px;
    margin-bottom: 40px;
  }

  .reviews__author {
    width: 200px;
  }

  .reviews__bullets {
    display: none;
  }
}



@media (min-width: $desktop-width) {
  .reviews__slide {
    width: 380px;
    align-content: stretch;
    align-items: stretch;
  }

  .reviews__desc {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 22px;
  }

  .reviews__author {
    font-size: 14px;
    line-height: 17px;
  }
}