.team {}

.team__title {}

.team__list {
  margin-bottom: 40px;
}

.team__img {
  margin-bottom: 20px;
}

.team__img-wrap {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;
  height: 230px;
  overflow: hidden;
  img {
    @include img-full-height;
  }
}

.team__item {

  figcaption {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    color: rgba(0, 0, 0, 0.6);
  }

  p {
    font-size: 12px;
    line-height: 17px;
  }
}



.team__name {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}

.team__slide {
  width: 288px;
}


.team__bullets {
  @include toggle-wrap;
  width: 55px;
}

.team__bullet {
  @include toggle;
}



@media(min-width: $tablet-small-width) {}



@media (min-width: $tablet-width) {
  .team__list {
    margin-bottom: 0;
  }
  .team__item {
    width: 200px;
    margin-right: 40px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  .team__slide {
    width: 100%;
    p {
      width: 100%; 
    }
  }

  .team__bullets {
    display: none;
  }
}



@media (min-width: $desktop-width) {
  

  .team__item {
    width: 374px;
    margin-right: 40px;
  }

  .team__slide {
    text-align: left;
    p {
      width: 310px;
      font-size: 16px;
      line-height: 22px;  
    }
  }

  .team__img {
    margin-bottom: 20px;
    figcaption {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .team__img-wrap {
    height: 465px;
    width: 374px;
  }

 .team__name {
   font-size: 20px;
   line-height: 24px;
   margin-bottom: 10px;
 }
}
