.tel {
  padding-top: 3px;
}

.header__tel--fixed {
  .tel__link {
    img {
      width: 30px;
    }
  }
}

.tel__link {
  span {
    display: none;
  }
  img {
    width: 100%;
    height: auto;
  }
}



@media(min-width: $tablet-small-width) {}



@media (min-width: $tablet-width) {
  .tel__link {
    display: flex;
    align-items: center;
    
    img {
      width: 18px;
      margin-right: 15px;
      padding-bottom: 0;
    }
    span {
      font-size: 16px;
      line-height: 20px;
      display: inline-block;
      color: $white;
    }
  }
}



@media (min-width: $desktop-width) {
  .tel__link {
    span {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
