.tel {
  padding-top: 3px;
}

.tel__link {
  
  span {
      display: none;
  }
}



@media(min-width: $tablet-small-width) {}



@media (min-width: $tablet-width) {
  .tel__link {
    img {
      margin-right: 15px;
      padding-bottom: 9px;
    }
    span {
      font-size: 16px;
      line-height: 20px;
      display: inline-block;
      color: $white;
    }
  }
}



@media (min-width: $desktop-width) {
  .tel__link {
    span {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
