// .upcoming-trips {
  
// }

.upcoming-trips__title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 42px;
    text-align: center;
}

.upcoming-trips__list {
    list-style: none;
    margin: 0 auto;
    margin-bottom: 26px;
    padding: 0;
}

.upcoming-trips__item {
    position: relative;
    width: 288px;
    height: 360px;
    margin-bottom: 21px;

    &:not(:nth-child(1)):not(:nth-child(2)) {
      display: none;   
    }
}

.upcoming-trips__item-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 18px;
    padding-left: 25px;
    padding-right: 14px;
    background-position: center;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(35, 28, 28, 0.5);
    }
}

.upcoming-trips__weather {
    margin-bottom: 55px;
}

.upcoming-trips__wrap-title {
    position: relative;
}

.upcoming-trips__name {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    color: $white;
    font-weight: 600;

}

.upcoming-trips__desc {
    margin: 0;
    padding: 0;
    color: $white;
    margin-bottom: 8px;
    font-weight: 400;
}

.upcoming-trips__price {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $white;
}

.upcoming-trips__places {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 52px;
    // height: 52px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
    text-transform: lowercase;

    color: $white;
    background-color: #058e6e;

    span {
        width: 45px;
    }
}

.upcoming-trips__places--not {
    background-color: #cb2132;
}

.upcoming-trips__time-wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 45px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $white;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
}

.upcoming-trips__time {
    font-size:  12px;
    line-height: 15px;
    font-weight: 700;
}

.upcoming-trips__item-hover {
    transform: translateX(75%);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 0;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: 0.6s;

    &--horvatia-isle {
        background-image: url('../img/upcoming-trips/horvatia-isle-hover.jpg');
    }

    &--sicilia {
        background-image: url('../img/upcoming-trips/sicilia-hover.jpg');
    }

    &--horvatia-way {
        background-image: url('../img/upcoming-trips/horvatia-way-hover.jpg');
    }

    &--tourkin-view {
        background-image: url('../img/upcoming-trips/tourkin-view-hover.jpg')
    }

    &--tourkin-may {
        background-image: url('../img/upcoming-trips/tourkin-may-hover.jpg')
    }

    &--dodecanes {
        background-image: url('../img/upcoming-trips/dodecanes-hover.jpg')
    }

    .upcoming-trips__wrap-title {
        margin-top: -25px;
      text-align: center;
    }

    .upcoming-trips__desc {
      margin-bottom: 40px;
      font-size: 14px;
      line-height: 20px;
    }

    p {
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        width: 220px;
        font-size: 12px;
        line-height: 18px;
        color: $white;
        font-weight: 400;
        text-align: center;
    }
}

.upcoming-trips__btn-mobile {
    position: absolute;
    right: 15px;
    bottom: 70px;
    background-color: transparent;
    width: 16px;
    height: 30px;
    border: none;
    &::before {
        content: '';
        position: absolute;
        height: 22px;
        width: 22px;
        border: 1px solid $white;
        border-left: none;
        border-top: none;
        left: 0;
        top: 100%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
        opacity: 0.7;
        outline: none;
    }

    &:active, &:focus {
        opacity: 0.4;
        outline: none;
    }
}

.upcoming-trips__btn-collapse {
    display: block;
    position: relative;
    text-align: center;
    padding-right: 30px;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    transition: 0.6s;

    &:hover {
        opacity: 0.7;
        outline: none;
    }

    &:active, &:focus {
        opacity: 0.4;
        outline: none;
    }

    &::before {
        content: '';
        position: absolute;
        height: 12px;
        width: 12px;
        border: 1px solid $black;
        border-left: none;
        border-top: none;
        right: 0;
        top: 30%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &--min {
        display: none;
    
        &::before {
            top: 70%;
            transform: translate(-50%, -50%) rotate(-135deg);
        } 
    }
}

.upcoming-trips__btn {
    cursor: pointer;
    @include btn;

    margin-bottom: 30px;
}

@media(min-width: $tablet-small-width) {
    .upcoming-trips__item {
        &:hover .upcoming-trips__item-hover {
            opacity: 1;
            pointer-events: auto;
            touch-action: auto;

        }
    }
    .upcoming-trips__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .upcoming-trips__item-hover {
        transform: none;
        opacity: 0;
        pointer-events: none;
        touch-action: none;
    }
    
    .upcoming-trips__btn-mobile {
        display: none;
    }
}



@media (min-width: $tablet-width) {
    .upcoming-trips__item {
        width: 250px;
        &:not(:nth-child(1)):not(:nth-child(2)) {
            display: block;   
          }
    }

    .upcoming-trips__item-wrap {
        padding-left: 17px;
    }

    .upcoming-trips__name {
        font-size: 18px;
        line-height: 22px;
    }

    .upcoming-trips__price {
       font-size: 16px;
       line-height: 20px;
    }

    .upcoming-trips__btn-collapse {
        display: none;
    }
}

@media (min-width: $desktop-width) {
    .upcoming-trips__item-wrap {
        padding-left: 36px;
        padding-right: 18px;
        padding-top: 31px;
    }

    .upcoming-trips__item {
        width: 375px;
        height: 465px;
        margin-bottom: 37px;
    }

    .upcoming-trips__weather {
      margin-bottom: 75px;
    }

    .upcoming-trips__name {
        font-size: 20px;
        line-height: 24px;
    }

    .upcoming-trips__desc {
        font-size: 19px;
        line-height: 22px;
    }

    .upcoming-trips__price {
        font-size: 18px;
        line-height: 22px;
    }

    .upcoming-trips__places {
        width: 68px;
        height: 68px;
        font-size: 12px;
        line-height: 17px;
        margin-top: -8px;

        span {
            width: 50px;
        }
    }

    .upcoming-trips__time-wrap {
        width: 247px;
        height: 55px;
    }

    .upcoming-trips__time {
        font-size: 14px;
        line-height: 17px;
    }

    .upcoming-trips__item-hover {
        .upcoming-trips__wrap-title {
          margin-top: 0;
          text-align: center;
        }
    
        .upcoming-trips__desc {
          width: 260px;
          margin-bottom: 50px;
        }
    
        p {
            margin-bottom: 30px;
        }
    }
}
