.weather {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.weather__wrap {
  position: relative;
  display: block;
  width: 90px;
  font-size: 12px;
  line-height: 15px;
  color: $white;
  font-weight: 400;
  text-align: left;

  &::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--day {
    &::before {
      background-image: url('../img/upcoming-trips/sun.svg');
      background-size: 30px;
    }
    .weather__days {
      padding-left: 37px;
    }
  }

  &--night {
    &::before {
      background-size: 24px;
      background-image: url('../img/upcoming-trips/moon.svg');
    }
    .weather__days {
        padding-left: 31px;
      }
  }
}

.weather__days {
  display: block;
  padding-top: 9px;
  margin-bottom: 13px;
}

.weather__temperature {
  font-size: 10px;
  line-height: 12px;
}

// @media(min-width: $tablet-small-width) {}

@media (min-width: $tablet-width) {
  .weather__wrap {
    font-size: 10px;
    line-height: 14px;
    &--day {
      .weather__days {
        padding-left: 35px;
      }
    }
  
    &--night {
      .weather__days {
        padding-left: 30px;
      }
    }
  }

  .weather__days {
    padding-left: 25px;
  }
}



@media (min-width: $desktop-width) {
  .weather__wrap {
    width: 110px;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
  }

  .weather__days {
    padding-left: 37px;
  }

  .weather__temperature {
    font-size: 14px;
    line-height: 17px;
  }
}
