section.landing__about.about(id='about')
  h2.about__title О нас
  .about__desc
    p Путешествие с #[a(href="https://yachtingtime.ru/") #[strong Yachting Time]] — это возможность провести отпуск в атмосфере морского приключения.
    p Мы будем наполнять ветром паруса, травить и выбирать шкоты, менять галсы и вязать узлы, крутить мили за штурвалом и загорать на белоснежной палубе!
  include ./team

