section.landing__about.about
  h2.about__title
  .about__desc
    p Меня зовут Александр и я из Санкт-Петербурга.
    p Яхтинг полностью изменил мое отношение к жизни. Мой первый опыт был взрывным - крен, когда лодка идет под парусом или налетевший шквал дают яркий всплеск эмоций, а штиль в звездную ночь пробуждает нечто торжественное внутри. 
    p Так и родился проект #[a(href="https://yachtingtime.ru/") #[strong Yachting Time]]  — организация и проведение незабываемых морских путешествий для наших гостей.
    p Я приглашаю Вас погрузиться в эту интересную, всегда новую, пропитанную духом свободы и приключений среду!
    p Мы будем наполнять ветром паруса, травить и выбирать шкоты, менять галсы и вязать узлы, крутить мили за штурвалом и загорать на белоснежной палубе.
    p #[a(href="https://api.whatsapp.com/send?phone=79118482000") #[strong Александр Скворцов]], лицензированный капитан и основатель проекта Yachting Time
  .about__img
    img(src="#", alt="описание")