section.landing__about.about
  h2.about__title О проекте Yachting Time
  .about__img
    img(src="./img/bg-header.jpg", alt="описание")
  span.about__hello Всем привет!
  .about__desc
    p Меня зовут #[a(href="https://api.whatsapp.com/send?phone=79118482000") #[strong Александр Скворцов]] и я являюсь лицензированным капитаном и основатель проекта #[a(href="https://yachtingtime.ru/") #[strong Yachting Time]].
    p Мой первый опыт яхтинга был взрывным - крен, когда лодка идет под парусом или налетевший шквал дают яркий всплеск эмоций, а штиль в звездную ночь пробуждает нечто торжественное внутри. 
    p В круизах мы будем наполнять ветром паруса, травить и выбирать шкоты, менять галсы и вязать узлы, крутить мили за штурвалом и загорать на белоснежной палубе.
    p Я приглашаю вас погрузиться в эту интересную, новую, пропитанную духом свободы и приключений среду!
