section.landing__advantages.advantages
  h2.advantages__title Яхтинг в цифрах
  ul.advantages__list
    li.advantages__item
      .advantages__img
        span.advantages__signature 2 года
        img(src="#", alt="описание")
      p.advantages__desc Мы путешествуем на яхте с 2018 года
    li.advantages__item
      .advantages__img
        span.advantages__signature 20 круизов
        img(src="#", alt="описание")
      p.advantages__desc Именно столько круизов мы совершили за это время
    li.advantages__item
      .advantages__img
        span.advantages__signature 60 человек
        img(src="#", alt="описание")
      p.advantages__desc Стали нашими друзьями
    li.advantages__item
      .advantages__img
        span.advantages__signature 5500 миль
        img(src="#", alt="описание")
      p.advantages__desc Пройдено нашими капитанами