section.impressions__also.also
  h3.advantages__title А также
  ul.advantages__list
    li.advantages__item
      .advantages__img
        img(src="#", alt="описание")
      p.advantages__desc Дайвинг
    li.advantages__item
      .advantages__img
        img(src="#", alt="описание")
      p.advantages__desc Рыбалка
    li.advantages__item
      .advantages__img
        img(src="#", alt="описание")
      p.advantages__desc Плавание
    li.advantages__item
      .advantages__img
        img(src="#", alt="описание")
      p.advantages__desc Sup-бординг