section.impressions__also.also
  h3.also__title А также
  ul.also__list
    li.also__item
      .also__img
        img(src="#", alt="описание")
      p.also__desc Дайвинг
    li.also__item
      .also__img
        img(src="#", alt="описание")
      p.also__desc Рыбалка
    li.also__item
      .also__img
        img(src="#", alt="описание")
      p.also__desc Плавание
    li.also__item
      .also__img
        img(src="#", alt="описание")
      p.also__desc Sup-бординг