.landing__attraction.attraction
  .attraction__wrap
    p.attraction__title Готовы к морскому приключению?
    p.attraction__desc Выберете круиз и присоединяйтесь к команде Yachting Time. Ждем вас на борту!
  a.attraction__btn(href="#upcoming-trips") Выбрать круиз