.landing__attraction.attraction
  .attraction__wrap
    p.attraction__title Готовы к морским приключениям?
    p.attraction__desc Выберите круиз и присоединяйтесь к&nbsp;команде Yachting Time.#[br]Ждем вас на борту!
  a.attraction__btn(href="#upcoming-trips") Выбрать круиз