button(type="button").cruises-select__btn-collapse Выберите круиз
.cruises-select__wrap 
    .cruises-select__tabs-caption
        label.cruises-select__tab(for="cruise__dodecanes") Греция 25&nbsp;апреля&nbsp;-&nbsp;02&nbsp;мая
            input.visually-hidden(type="radio" id="cruise__dodecanes" name="cruise" value="Греция. Архипелаг Додеканес. 25 апреля - 02 мая")
        label.cruises-select__tab(for="tourkin-view") Турция 9&nbsp;мая&nbsp;-&nbsp;16&nbsp;мая
            input.visually-hidden(type="radio" id="tourkin-view" name="cruise" value="Турция. Взгляд с другой стороны. 9 мая - 16 мая")
        label.cruises-select__tab(for="horvatia-way") Хорватия 25&nbsp;июня&nbsp;-&nbsp;6&nbsp;июля
            input.visually-hidden(type="radio" id="horvatia-way" name="cruise" value="Хорватия. Путь в жемчужину Адриатики. 25июня - 6 июля")
        label.cruises-select__tab(for="horvatia-isle") Хорватия 4&nbsp;июля&nbsp;-&nbsp;11&nbsp;июля
            input.visually-hidden(type="radio" id="horvatia-isle" name="cruise" value="Хорватия. По островам Средней Долмации. 4 июля - 11 июля")
        label.cruises-select__tab(for="sicilia") Сицилия 8&nbsp;августа&nbsp;-&nbsp;15&nbsp;августа
            input.visually-hidden(type="radio" id="sicilia" name="cruise" value="Сицилия. Липарские острова. 8 августа - 15 августа")
    .cruises-select__content-wrap
        .cruises-select__tabs-content
            .upcoming-trips__item-wrap(style="background-image: url('img/upcoming-trips/dodecanes.jpg')")
                .upcoming-trips__wrap-title
                    h3.upcoming-trips__name Архипелаг Додеканес
                    p.upcoming-trips__desc Весна на юге Греции
                    strong.upcoming-trips__price 660€
                .upcoming-trips__weather.weather
                    .upcoming-trips__places
                        span 2 места

        .cruises-select__tabs-content
            .upcoming-trips__item-wrap(style="background-image: url('img/upcoming-trips/tourkin-view.jpg')")
                .upcoming-trips__wrap-title
                    h3.upcoming-trips__name Турция
                    p.upcoming-trips__desc Взгляд с другой стороны
                    strong.upcoming-trips__price 660€
                .upcoming-trips__weather.weather
                    .upcoming-trips__places 
                        span 3 места
            
        .cruises-select__tabs-content
            .upcoming-trips__item-wrap(style="background-image: url('img/upcoming-trips/horvatia-way.jpg')")
                .upcoming-trips__wrap-title
                    h3.upcoming-trips__name Хорватия
                    p.upcoming-trips__desc Путь в жемчужину Адриатики
                    strong.upcoming-trips__price 650€
                .upcoming-trips__weather.weather
                    .upcoming-trips__places
                        span 5 мест
            
        .cruises-select__tabs-content
            .upcoming-trips__item-wrap(style="background-image: url('img/upcoming-trips/horvatia-isle.jpg')")
                .upcoming-trips__wrap-title
                    h3.upcoming-trips__name Хорватия
                    p.upcoming-trips__desc По островам Средней Долмации
                    strong.upcoming-trips__price 650€
                .upcoming-trips__weather.weather
                    .upcoming-trips__places 
                        span 4 места
            
        .cruises-select__tabs-content
            .upcoming-trips__item-wrap(style="background-image: url('img/upcoming-trips/sicilia.jpg')")
                .upcoming-trips__wrap-title
                    h3.upcoming-trips__name Сицилия
                    p.upcoming-trips__desc Липарские острова
                    strong.upcoming-trips__price 850€
                .upcoming-trips__weather.weather
                    .upcoming-trips__places 
                        span 6 мест