footer.footer
  p.footer__copyright
  .footer__menu.menu
    include ./menu
  .footer__social.social
    ul.social__list
      li.social__item
        a(href="https://vk.com/yachting_time" aria-label="группа вконтакте Yachting Time").social__link
          img(src="#", alt="Вконтакте")
      li.social__item
        a(href="https://www.youtube.com/channel/UChxQ2n8YUJREQP_0Tzjt2yw" aria-label="ютуб-канал Yachting Time").social__link
          img(src="#", alt="Ютуб")
      li.social__item
        a(href="https://www.instagram.com/yachting_time/" aria-label="инстаграмм Yachting Time").social__link
          img(src="#", alt="Инстаграмм" )
  .footer__tel.tel
    include ./tel