h2.form__title Забронировать круиз
p.form__desc Оставьте свой номер и мы свяжемся с вами в течение 10 минут для уточнения подробностей
form.form__form(method = "POST" action="https://formspree.io/mzbvobkj")
  .form__cruises.cruises-select
    include cruises-select
   
  .form__input-wrap.form__input-wrap--counter
    label.form__label.form__label--number(for="places") Кол-во мест
    .form__counter-wrap
      button.form__counter-tab.form__counter-tab--up(type="button" aria-label="Увеличить на 1")
      input.form__counter(type="number" value="1" id="places" name="places" readonly)
      button.form__counter-tab.form__counter-tab--down(type="button" aria-label="Уменьшить на 1")
  .form__input-wrap.form__input-wrap--text
    label.form__label.form__label--text(for="name") Ваше имя
    input.form__input(type="text" id="name" name="name" autocomplete="off")
  .form__input-wrap.form__input-wrap--text
    label.form__label(for="tel") Ваш номер телефона
    input.form__input(type="tel" id="tel" name="telephone" autocomplete="off")
  button.form__submit(type="submit") Забронировать
