h2.form__title Забронировать круиз
p.form__desc Оставьте свой номер и мы перезвоним вам для уточнения подробностей
form.form__form(method = "POST" action = "#")
  .form__input-wrap.form__input-wrap--text
    label.form__label.form__label--text(for="name") Ваше имя
    input.form__input(type="text" id="name" name="name" autocomplete="off")
  .form__input-wrap.form__input-wrap--text
    label.form__label(for="tel") Ваш номер телефона
    input.form__input(type="tel" id="tel" name="telephone" autocomplete="off")
  p.form__personal-data Заполняя форму, я даю согласие на обработку 
    a.form__personal-link(href="https://yachtingtime.ru/personalnye-dannye-tury-kruizy-na-jahtah") персональных данных
  button.form__submit(type="submit") Забронировать
