header.header.fixed
  a.header__logo
    img(src="img/logo.png", alt="логотип Yachting Time",  width="96")
  .header__wrap
    .header__menu.menu
      include ./menu
    .header__tel.tel
      include ./tel