header.header(style="background-image: url('img/.jpg');")
  a.header__logo
    img(src="#", alt="логотип Yachting Time")
  .header__menu.menu
    include ./menu
  .header__tel.tel
    include ./tel
  include ./promo