section.landing__impressions.impressions
  h2.impressions__title Что нас ждет
  ul.impressions__list
    li.impressions__item.impressions__item--reverse
      .impressions__desc
        h3 Острова и пляжи
        p а также красивейшие бухты
      .impressions__img
        img(src="#", alt="описание")
    li.impressions__item
      .impressions__desc
        h3 Секретные места
        p побываете там, где не ступала нога обычного туриста
      .impressions__img
        img(src="#", alt="описание")
    li.impressions__item.impressions__item--reverse
      .impressions__desc
        h3 Необычные активности
        p научитесь управлять яхтой и вязать морские узлы
      .impressions__img
        img(src="#", alt="описание")
    li.impressions__item
      .impressions__desc
        h3 Расширение кругозора
        p посмотрите на мир с другого ракурса
      .impressions__img
        img(src="#", alt="описание")
  include ../modules/also