section.landing__intro.intro
  h2.intro__title Немного о яхтинге
  ul.intro__list
    li.intro__item
      .intro__img
        span.intro__signature 4 из 10
        img(src="#", alt="описание")
      h3.intro__item-title Сложность
      p.intro__desc Отсутствие яхтенного опыта не накладывает ограничений на участников круизов
    li.intro__item
      .intro__img
        span.intro__signature 20 круизов
        img(src="#", alt="описание")
      h3.intro__item-title Возраст
      p.intro__desc Мы берем в круизные плавания детей от 7 лет. Это подходящий возраст для безопасного прохождения маршрута
    li.intro__item
      .intro__img
        span.intro__signature 60 человек
        img(src="#", alt="описание")
      h3.intro__item-title Количество человек
      p.intro__desc Кроме вас на яхте будет только капитан и его помощник