section.landing__intro.intro
  h2.advantages__title Немного о яхтинге
  ul.advantages__list
    li.advantages__item
      .advantages__img
        span.advantages__signature 4 из 10
        img(src="#", alt="описание")
      h3.advantages__item-title Сложность
      p.advantages__desc Отсутствие яхтенного опыта не накладывает ограничений на участников круизов
    li.advantages__item
      .advantages__img
        span.advantages__signature 20 круизов
        img(src="#", alt="описание")
      h3.advantages__item-title Возраст
      p.advantages__desc Мы берем в круизные плавания детей от 7 лет. Это подходящий возраст для безопасного прохождения маршрута
    li.advantages__item
      .advantages__img
        span.advantages__signature 60 человек
        img(src="#", alt="описание")
      h3.advantages__item-title Количество человек
      p.advantages__desc Кроме вас на яхте будет только капитан и его помощник