section.landing__intro.intro
  h2.intro__title О яхтинге
  .intro__glide
    .glide__track(data-glide-el="track")
      ul.intro__list.glide__slides
        li.intro__item.glide__slide
          .intro__slide
            .intro__img
              img(src="img/intro/puzzle.svg", alt="пазл", width="76", height="76")
            h3.intro__item-title Сложность
            p.intro__desc Отсутствие яхтенного опыта не накладывает ограничений на участников круизов
        li.intro__item.glide__slide
          .intro__slide
            .intro__img
              img(src="img/intro/bathroom.svg", alt="ребенок в ванне", width="76", height="76")
            h3.intro__item-title Умение плавать
            p.intro__desc Чтобы ходить на яхте, не обязательно уметь плавать
        li.intro__item.glide__slide
          .intro__slide
            .intro__img
              img(src="img/intro/daughter.svg", alt="девочка с хвостиками", width="76", height="76")
            h3.intro__item-title Возраст
            p.intro__desc Мы берем в круизные плавания детей от 7 лет. Это подходящий возраст для безопасного прохождения маршрута
        li.intro__item.glide__slide
          .intro__slide
            .intro__img
              img(src="img/intro/cross.svg", alt="медицинский крест", width="76", height="76")
            h3.intro__item-title Безопасность
            p.intro__desc На яхте предусмотрены спасательные средства и медицинская аптечка
        li.intro__item.glide__slide
          .intro__slide
            .intro__img
              img(src="img/intro/family.svg", alt="семья", width="76", height="76")
            h3.intro__item-title 6–10 человек
            p.intro__desc Кроме вас на яхте будет только капитан и его помощник
    .intro__bullets.glide__bullets(data-glide-el="controls[nav]")
      button.intro__bullet.glide__bullet(type="button" data-glide-dir="=0" aria-label="переключить на слайд 1")
      button.intro__bullet.glide__bullet(type="button" data-glide-dir="=1" aria-label="переключить на слайд 2")
      button.intro__bullet.glide__bullet(type="button" data-glide-dir="=2" aria-label="переключить на слайд 3")
      button.intro__bullet.glide__bullet(type="button" data-glide-dir="=3" aria-label="переключить на слайд 4")
      button.intro__bullet.glide__bullet(type="button" data-glide-dir="=4" aria-label="переключить на слайд 5")