ul.menu__list
  li.menu__item
    a.menu__link(href="#") О нас
  li.menu__item
    a.menu__link(href="#") Круизы
  li.menu__item
    a.menu__link(href="#") Отзывы
  li.menu__item
    a.menu__link(href="#") Вопросы