.menu__wrap
  button.menu__burger-btn.first-button(type="button" aria-label="Открыть или закрыть меню")
    div.animated-icon1
      span
      span
      span
  .navbar-collapse
    ul.menu__list
      li.menu__item
        a.menu__link(href="#") О нас
      li.menu__item
        a.menu__link(href="#") Круизы
      li.menu__item
        a.menu__link(href="#") Отзывы
      li.menu__item
        a.menu__link(href="#") Вопросы
    .menu__social.social
      include ./social 
  </button>