section.landing__price.price.price--included
  h2.price__title Что входит в стоимость
  ul.price__list
    li.price__item
      .price__img
        img(src="img/included/bus.png", alt="автобус")
      p.price__desc Трансфер из&nbspаэропорта
    li.price__item
      .price__img
        img(src="img/included/yacht.png", alt="яхта")
      p.price__desc Мастер-классы по&nbspяхтингу
    li.price__item
      .price__img
        img(src="img/included/sofa.png", alt="софа в интерьере")
      p.price__desc Проживание в&nbspкаюте
    li.price__item
      .price__img
        img(src="img/included/towel.png", alt="полотенце")
      p.price__desc Постельное белье и&nbspполотенца
    li.price__item
      .price__img
        img(src="img/included/food.png", alt="тарелка с вилкой и ложкой")
      p.price__desc Питание на яхте