section.landing__price.price.price--not-included
  h2.price__title Что не входит в стоимость
  ul.price__list
    li.price__item
      .price__img
        img(src="img/not-included/shield.png", alt="щит с крестом")
      .price__item-wrap
        h3.price__item-title Страховка
        p.price__desc Медицинская страховка (до 40 €)
    li.price__item
      .price__img
        img(src="img/not-included/passport.png", alt="иконка визы")
      .price__item-wrap
        h3.price__item-title Виза
        p.price__desc Шенгенская виза (от 35 €)
    li.price__item
      .price__img
        img(src="img/not-included/pass.png", alt="билет на самолет")
      .price__item-wrap
        h3.price__item-title Авиабилеты
        p.price__desc Авиабилеты из вашего города до аэропорта назначения (100-200 €)
    li.price__item
      .price__img
        img(src="img/not-included/bike.png", alt="трехколесный велосипед")
      .price__item-wrap
        h3.price__item-title Прокат техники
        p.price__desc Транспорт на островах
    li.price__item
      .price__img
        img(src="img/not-included/kafe.png", alt="иконка кафе")
      .price__item-wrap
        h3.price__item-title Рестораны
        p.price__desc Если вы захотите поесть на суше