section.landing__price.price
  h2.price__title Что входит в стоимость
  ul.price__list
    li.price__item
      .price__img
        img(src="#", alt="описание")
      p.price__desc Трансфер из аэропорта
    li.price__item
      .price__img
        img(src="#", alt="описание")
      p.price__desc Мастер-классы по яхтингу
    li.price__item
      .price__img
        img(src="#", alt="описание")
      p.price__desc Проживание на яхте
    li.price__item
      .price__img
        img(src="#", alt="описание")
      p.price__desc Постельное белье и полотенца
    li.price__item
      .price__img
        img(src="#", alt="описание")
      p.price__desc Услуги шкипера и помощника