section.landing__price.price
  h2.price__title Что  не входит в стоимость
  ul.price__list
    li.price__item
      .price__img
        img(src="#", alt="описание")
      p.price__desc Авиабилеты
    li.price__item
      .price__img
        img(src="#", alt="описание")
      p.price__desc Страховка
    li.price__item
      .price__img
        img(src="#", alt="описание")
      p.price__desc Виза
    li.price__item
      .price__img
        img(src="#", alt="описание")
      p.price__desc Прокат техники на островах
    li.price__item
      .price__img
        img(src="#", alt="описание")
      p.price__desc Рестораны