section.landing__price.price.price--included
  h2.price__title Что входит в стоимость
  ul.price__list
    li.price__item
      .price__img
        img(src="img/included/bus.svg", alt="автобус", width="76", height="76")
      p.price__desc Трансфер из&nbsp;аэропорта
    li.price__item
      .price__img
        img(src="img/included/yacht.svg", alt="яхта", width="76", height="76")
      p.price__desc Мастер-классы по&nbsp;яхтингу
    li.price__item
      .price__img
        img(src="img/included/sofa.svg", alt="софа в интерьере", width="76", height="76")
      p.price__desc Проживание в&nbsp;каюте
    li.price__item
      .price__img
        img(src="img/included/towel.svg", alt="полотенце", width="76", height="76")
      p.price__desc Постельное белье и&nbsp;полотенца
    li.price__item
      .price__img
        img(src="img/included/food.svg", alt="тарелка с вилкой и ложкой", width="76", height="76")
      p.price__desc Питание на яхте