section.landing__price.price
  h2.advantages__title Что входит в стоимость
  ul.advantages__list
    li.advantages__item
      .advantages__img
        img(src="#", alt="описание")
      p.advantages__desc Трансфер из аэропорта
    li.advantages__item
      .advantages__img
        img(src="#", alt="описание")
      p.advantages__desc Мастер-классы по яхтингу
    li.advantages__item
      .advantages__img
        img(src="#", alt="описание")
      p.advantages__desc Проживание на яхте
    li.advantages__item
      .advantages__img
        img(src="#", alt="описание")
      p.advantages__desc Постельное белье и полотенца
    li.advantages__item
      .advantages__img
        img(src="#", alt="описание")
      p.advantages__desc Услуги шкипера и помощника