section.landing__price.price.price--not-included
  h2.price__title Что не входит в стоимость
  ul.price__list
    li.price__item
      .price__img
        img(src="img/not-included/shield.svg", alt="щит с крестом", width="76", height="76")
      .price__item-wrap
        h3.price__item-title Страховка
        p.price__desc Медицинская страховка (до&nbsp40&nbsp€)
    li.price__item
      .price__img
        img(src="img/not-included/passport.svg", alt="иконка визы", width="76", height="76")
      .price__item-wrap
        h3.price__item-title Виза
        p.price__desc Шенгенская виза (от&nbsp35&nbsp€)
    li.price__item
      .price__img
        img(src="img/not-included/pass.svg", alt="билет на самолет", width="76", height="76")
      .price__item-wrap
        h3.price__item-title Авиабилеты
        p.price__desc Авиабилеты из вашего города до аэропорта назначения (100-200 €)
    li.price__item
      .price__img
        img(src="img/not-included/bike.svg", alt="трехколесный велосипед", width="76", height="76")
      .price__item-wrap
        h3.price__item-title Прокат техники
        p.price__desc Транспорт на&nbspостровах
    li.price__item
      .price__img
        img(src="img/not-included/kafe.svg", alt="иконка кафе", width="76", height="76")
      .price__item-wrap
        h3.price__item-title Рестораны
        p.price__desc Если вы захотите поесть на суше