section.header__promo.promo
  h1.promo__title Яхтинг по Средиземному морю
  p.promo__desc Проведите отпуск в атмосфере морского приключения
  a.promo__link(href='#' download='cruises-yachting-time') Программа круизов
  .promo__bg
    img(src='#', alt='описание')