section.landing__promo.promo(style="background-image: url('img/header/bg.jpg')")
  .promo__wrap
    h1.promo__title Яхтинг #[br] по&nbspСредиземному морю
    p.promo__desc Проведите отпуск в атмосфере морского приключения
    a.promo__link(href='#' download='cruises-yachting-time') Забронировать круиз