section.landing__questions.questions(id="questions")
  h2.questions__title Популярные вопросы
  ol.questions__list
    li.questions__item.active
      button.questions__btn(type="button") Сколько это стоит?
      .questions__answer
        p Стоимость  путешествия = стоимость круиза + судовая касса
        p Судовая касса - это денежные средства, внесенные всеми участниками круиза. Они предназначены для оплаты совместных расходов - питания, стоянки, воды, электричества, топлива. В среднем взнос в судовую кассу равен 150 €
        p Личные расходы – на Ваше усмотрение, 150 - 300 €
    li.questions__item
      button.questions__btn(type="button") Насколько это безопасно?
      .questions__answer
        p Формат, в котором осуществляются наши недельные маршруты для новичков. 
        p На протяжении всего маршрута суша никогда не пропадает из виду. Все переходы осуществляются в дневное время.
        p Выходя в море, капитан руководствуется сводом правил, в том числе проверяет исправность яхты и изучает прогноз погоды в регионе, чтобы избежать штормовых переходов.
    li.questions__item
      button.questions__btn(type="button") Если я заболею?
      .questions__answer
        p На борту предусмотрены аптечка первой медицинской помощи, огнетушители и спасательные средства. Для вызова экстренной помощи имеются средства связи и аварийный радиобуй.
    li.questions__item
      button.questions__btn(type="button") Если я передумаю ехать?
      .questions__answer
        p Для обеспечения взаимных договоренностей мы заключаем договор. В нём учтены все нюансы касаемо обязательств, оплаты, сроков, возврата средств и прочее.
        p Образец вы можете запросить по любым имеющимся контактным данным.
    li.questions__item
      button.questions__btn(type="button") Что нужно взять с собой?
      .questions__answer
        ul
          li Сумка или рюкзак
          li Комфортная одежда
          li Купальник
          li Удобная обувь (кроссовки и сандалии)
          li Головной убор и очки
          li Солнцезащитное средство
          li Документы
          li Гаджеты (зарядка для телефона)
          li Медикаменты для ваших личных нужд (на борту есть аптечка)
    li.questions__item
      button.questions__btn(type="button") Какой распорядок дня на судне?
      .questions__answer
        p Примерный распорядок дня
        ul
          li Зарядка/пробежка/заплыв
          li Завтрак
          li Переход
          li Обед
          li Прогулки и экскурсии по городу/острову
          li Ужин
          li Вечерний променад
        p Распорядок дня оговаривается - вы сами решаете как и с кем комфортно проводить время на отдыхе.
    li.questions__item
      button.questions__btn(type="button") Я не умею плавать, что мне делать?
      .questions__answer
        p Чтобы ходить на яхте, не обязательно уметь плавать.
        p Для подстраховки на яхте предусмотрены спасательный круг, жилет и обвязка. Для купания можно также  использовать надувной круг, матрас и нарукавники.
    li.questions__item
      button.questions__btn(type="button") Есть ли одноместные каюты?
      .questions__answer
        p В каюте предусмотрено размещение 1-2 человек.
        p Размещение одного человека в каюте зависит от количества людей на яхте.
        p Вы всегда можете выкупить каюту целиком.
    li.questions__item
      button.questions__btn(type="button") Есть вопросы по программе
      .questions__answer
        p Если у вам астались вопросы по программе - заполните форму обратной связи и мы вышлем вам подробное описание наших круизов.
        p Также вы можете #[a(href="https://api.whatsapp.com/send?phone=79118482000") позвонить] или написать нам и задать вопросы нашему капитану лично.
    li.questions__item
      button.questions__btn(type="button") Есть ли скидки?
      .questions__answer
        p При аренде яхты целиком редусмотрена специальная цена.
        p Данный вопрос уточняется при личном контакте.
    li.questions__item 
      button.questions__btn(type="button") Как мы будем питаться?
      .questions__answer
        p Продукты мы закупаем в супермаркетах и на рынках. Накануне закупки составляем список необходимых продуктов и согласовываем его со всеми участниками.
        p На яхте мы все вместе готовим завтраки, обеды, ужины и легкие перекусы, на суше можем зайти в ресторан/кафе.
        p На яхте предусмотрена газовая плита с духовкой, холодильник и все необходимое для приготовления пищи.
    li.questions__item
      button.questions__btn(type="button") Сколько будет человек на яхте?
      .questions__answer
        p Всестимость яхты - 10 человек, включая капитана и помощника.
    li.questions__item 
      button.questions__btn(type="button") Чем будут заниматься дети на яхте?
      .questions__answer
        p Мы берем в круизные плавания детей от 7 лет. Это наиболее подходящий возраст для обучения и безопасного прохождения маршрута.
        p Но каждый родитель должен понимать, что ответственность за своих детей он несет сам.
  button.upcoming-trips__btn-collapse.questions__btn-collapse.questions__btn-collapse--max(type='button') Развернуть
  button.upcoming-trips__btn-collapse.questions__btn-collapse.questions__btn-collapse--min(type='button') Свернуть