section.landing__questions.questions
  h2.questions__title Популярные вопросы
  ol.questions__list
    li.questions__item Сколько это стоит?
      .questions__answer
        p Стоимость  путешествия = стоимость круиза + судовая касса
        p Судовая касса - это денежные средства, внесенные всеми участниками круиза. Они предназначены для оплаты совместных расходов - питания, стоянки, воды, электричества, топлива. В среднем взнос в судовую кассу равен 150 €
        p Личные расходы – на Ваше усмотрение, 150 - 300 €
    li.questions__item Насколько это безопасно?
      .questions__answer
        p Формат, в котором проходят наши недельные круизы, подходит новичкам. В основу закладывается, прежде всего, безопасность людей на борту.
        p Маршруты проходят по островам и побережьям, суша никогда не пропадает из виду. Переходы осуществляются в дневное время, за исключением, когда мы приходим до полуночи в хорошо освещённый и оборудованный для швартовки порт.
        p Выходя в море, капитан руководствуется сводом правил, в том числе проверяет исправность яхты и изучает свежий прогноз погоды в регионе, чтобы избежать штормовых переходов.
    li.questions__item Если я заболею?
      .questions__answer
        p Тестовый текст. Формат, в котором проходят наши недельные круизы, подходит новичкам. В основу закладывается, прежде всего, безопасность людей на борту.
        p Тестовый текст. Маршруты проходят по островам и побережьям, суша никогда не пропадает из виду. Переходы осуществляются в дневное время, за исключением, когда мы приходим до полуночи в хорошо освещённый и оборудованный для швартовки порт.
        p Тестовый текст. Выходя в море, капитан руководствуется сводом правил, в том числе проверяет исправность яхты и изучает свежий прогноз погоды в регионе, чтобы избежать штормовых переходов.
    li.questions__item Если я передумаю ехать?
      .questions__answer
        p Тестовый текст. Формат, в котором проходят наши недельные круизы, подходит новичкам. В основу закладывается, прежде всего, безопасность людей на борту.
        p Тестовый текст. Маршруты проходят по островам и побережьям, суша никогда не пропадает из виду. Переходы осуществляются в дневное время, за исключением, когда мы приходим до полуночи в хорошо освещённый и оборудованный для швартовки порт.
        p Тестовый текст. Выходя в море, капитан руководствуется сводом правил, в том числе проверяет исправность яхты и изучает свежий прогноз погоды в регионе, чтобы избежать штормовых переходов.
    li.questions__item Что нужно взять с собой?
      .questions__answer
        h3 Багаж
        p Собираем сумку или рюкзак. Жёсткий каркасный чемодан не подходит для путешествия на яхте, т.к. для его хранения нет предусмотренного места. Такой багаж будет напоминать о себе всю дорогу, а ночевать будет как любимый кот - в ногах.
        h3 Одежда
        p Для активного участия в управлении яхтой отлично подойдет синтетика. Она проще переносит морскую воду, не впитывает запахи, быстро сохнет. На остальное время берите одежду, в которой комфортно. Длинный рукав защитит от солнечных лучей.
        p Если круиз приходится на весну или осень рекомендуем взять флиску или кофту с капюшоном – пригодится для прогулок под луной, а ветровка защитит в непогоду. Летом брать тёплые вещи не имеет смысла.
        h3 Обувь
        p Для комфортного перемещения по яхте подойдут кроссовки. Важный момент: на белой или «не рисующей» подошве. Можно приобрести специальную обувь для яхтинга.
        p Для активных прогулок рекомендуем туристические сандалии, кроссовки или тапочки.
        h3 Аксессуары
        p Очки солнцезащитные с высокой степенью поляризации, головной убор.
        p Для работы с верёвками рекомендуем приобрести перчатки беспалые. Девушки, рекомендуем брать, как минимум два купальника – закрытый для ныряния с борта или активных водных аттракционов и открытый для красивого загара.
        p Если вы любите понырять или порыбачить – возьмите всё необходимое.
        h3 Гаджеты
        p Зарядки для телефонов берём обычные для розеток и автомобильные, на яхте они актуальны. Не будет лишним взять пауэрбанк, bluetooth-колонку по желанию.
        h3 Документы
        p Не забудьте взять наличные в евро для оплаты совместных затрат, билеты, страховку, банковские карточки, водительские права. Если границу Евросоюза пересекаете на машине, не будет лишним распечатать крю-лист или сохранить его в телефоне. Иногда спрашивают на границе.
        h3 Медикаменты
        p Средства от укачивания: таблетки, пластыри, капли, слайсы. Крема для загара, от загара и пантенол. Если бывает неспокойный сон – прихватите беруши, т.к. скрежет швартовых канатов или плеск воды о борт поначалу Вы можете слышать. Необходимые медикаменты для личных нужд. На борту есть аптечка первой помощи.
    li.questions__item Какой распорядок дня на судне?
      .questions__answer
        p Ниже описан идеальный день среднестатистического путешествия с YachtingTime. В программе круиза, в котором Вы планируете участвовать, расписание некоторых дней наверняка отличается. К тому же отличаться он может исходя из текущих погодных условий на момент проведения круиза.
        p Как день встретишь, так его и проведёшь – народная мудрость, которой мы придерживаемся всегда и везде. А на отдыхе – особенно. Утренние ритуалы – самые важные, поэтому им уделяется особое внимание. Всем любителям спорта предлагаем составить компанию нашему капитану и совершить совместную пробежку, зарядку и заплыв, обеспечив тем самым отличный заряд бодрости на целый день!
        p А кому для заряда бодрости хватит крепкого ароматного кофе, заниматься спортом и купаться не обязательно, мы же на отдыхе! Всё по желанию, и любое решение будет верным, главное, что бы оно радовало Вас.
        p Завтрак самая важная трапеза! Завтракать мы любим вкусно и не спеша, под уже чуть припекающим солнышком, с видом на просыпающийся город, яхты и набережную. В некоторых местах идеальным решением для завтрака будет отправиться в кафе, чтобы вкусить вкуснейшие свежеиспечённые десерты и не думать о калориях!
        p Ну что, подкрепились? Ну а теперь пора и в море, ведь ради этого мы тут собрались. Помогаем кэпу отшвартовать яхту, и вперёд - навстречу новым приключениям!
        p Переход в среднем длится 3-4 часа, программа перехода* будет сформирована в зависимости от ветра на маршруте.
        p Обед обычно проходит в море. Либо - мы успеем дойти в марину и покушаем, зашвартовав лодку к пристани.
        p А далее мы переходим к береговой программе*. Прогулки и экскурсии по городу/острову.
        p Походы в горы, на пляж, изучение местного колорита, прокат техники и другие прелести туристического отдыха.
        p Ужин проходит в разных местах. Иногда, взяв в прокат машину, мы кушаем в первом же попавшемся кафе, после длительной безостановочной езды по лесному серпантину, встретив закат и нагулявшись по горам, имея только одно желание – неплохо было бы поесть! Иногда принарядившись, устраиваем раут в ресторане.
        p А иногда собираемся все вместе на яхте и под местное вино вкушаем свежеприготовленного тунца, пойманного в переходе.
        p Далее вечерний променад по набережной, бары и посиделки на яхте.
        p Сон на яхте. В каюте или при желании можно устроиться на палубе под звёздным небом.
        p Распорядок дня не обязывает к неукоснительному его соблюдению. Вы сами решаете, как и с кем комфортно проводить время на отдыхе. Главное быть на связи и следовать временным договорённостям.
    li.questions__item Я не умею плавать, что мне делать?
      .questions__answer
        p Не страшно! Чтобы ходить на яхте, не обязательно уметь плавать. Для подстраховки, на яхте предусмотрены спасательный круг, спасательный жилет и обвязка. А для купания можно использовать надувной круг, матрас, нарукавники… можно держаться за кранцы или за верёвку.
        p В крайнем случае, Вы всегда можете зайти в воду у берега во время наших стоянок, если Вам так спокойнее. Поэтому неумение плавать - не повод отказываться от путешествия на яхте.
    li.questions__item Есть ли одноместные каюты?
      .questions__answer
        p На яхте предусмотрено два типа кают: с двуспальной кроватью и с двухъярусным размещением.
        p Все каюты имеют достаточно места для комфортного сна. Спальные места укомплектованы постельным бельём по количеству человек, одеялами и подушками. Есть шкафчики для личных вещей и обуви, розетки для зарядки гаджетов и вентиляционные люки.
    li.questions__item Есть вопросы по программе
      .questions__answer
        h3 программа
        h4 В море
        p Выход в море может быть совершён в разное время. Капитан принимает решение о часе отплытия, в зависимости от удалённости места последующей стоянки, сложности и насыщенности перехода.
        p К примеру, если предстоит пройти дистанцию в 45 миль переход от 7 часов, выход может быть назначен на 5 часов утра, с рассветом солнца. При этом всей команде нет необходимости просыпаться и готовится к отплытию, т.к. задача вполне посильна одному-двум членам экипажа. В таком случае, большая часть пути будет пройдена уже к завтраку.
        p В большинстве случаев мы выходим в море с 9:00 до 11:00 часов утра, иногда позже.
        p Каждый день совершаем один переход, протяжённостью 2 – 5, а иногда и 8 часов*. Во время плавания делаем остановки для купания в открытом море или в живописных бухтах. Принимаем солнечные ванны на белоснежной палубе, созерцаем великолепные пейзажи, общаемся и отдыхаем. Для желающих глубже погрузиться в яхтинг, капитан проводит мастер-классы. Ставим паруса, управляем яхтой, учимся вязать узлы.
        p Конечно же, ловим тунца и дорадо. Готовим и кушаем средиземноморские закуски и обеды.
        p * - могут быть внесены изменения в связи с непогодой, или по взаимному согласию всей команды, при желании задержаться в понравившемся месте.
    li.questions__item Есть ли скидки?
      .questions__answer
        p При аренде яхты целиком для отдыха семьёй или компанией от 6 человек предусмотрена специальная цена.
    li.questions__item Как мы будем питаться?
      .questions__answer
        p Продукты приобретаются в супермаркетах и на рынках. Бакалею и другие не скоропортящиеся продукты закупаем на весь период плавания. Фрукты, овощи, молочные продукты, мясо, хлеб, десерты, питьевая вода закупаются по мере употребления. Накануне закупки составляем список необходимых продуктов, и согласовываем его со всеми участниками.
        p Если вы соблюдаете диету, исключая некоторые продукты из рациона, сообщите нам об этом заранее.
        p На яхте мы все вместе готовим завтраки, обеды, ужины и устраиваем лёгкие перекусы в течение дня. В зависимости от насыщенности перехода и береговой программы некоторые приемы пищи проводим на берегу, это может быть как обед, так и ужин.
        p На яхте предусмотрена газовая плита с духовкой, холодильник и вся необходимая для приготовления пищи кухонная утварь. В готовке участвуют все члены команды. Вначале по желанию, далее по графику. Готовим и убираем сами.
    li.questions__item Сколько будет человек на яхте?
      .questions__answer
        p Мы предпочитаем путешествовать на четырёх-каютных яхтах компаниями по 7-9 человек на борту.
    li.questions__item Чем будут заниматься дети на яхте?
      .questions__answer
        p Тестовый текст. Мы берём в круизные плавания детей с 7 лет. Это наиболее подходящий возраст для обучения и безопасного прохождения маршрута. Но каждый родитель должен понимать, что ответственность за своих детей он несёт сам, должен здраво оценивать свои возможности и ребёнка.