section.landing__reviews.reviews(id="reviews")
  h2.reviews__title Отзывы
  .reviews__slider
    .glide.reviews__glide
      .glide__track(data-glide-el="track")
        ul.glide__slides
          li.glide__slide.reviews__slide
            .reviews__item
              .reviews__img
                img(src="img/reviews/ivan-kalinichev.jpg", alt="фотография Ивана Калиничева")
              .reviews__desc Яхтинг – микс красок и эмоций, шикарной природы, ярких закатов и новых впечатлений. Удивительно как всего неделя на яхте меняет взгляды на мир. Несомненно, рекомендую каждому.
              .reviews__author 
                a(href="https://vk.com/topic-158155317_41161404?post=4") Иван Калиничев
                time(datetime="2018-05") май 2018
          li.glide__slide.reviews__slide
            .reviews__item
              .reviews__img
                img(src="img/reviews/alexandra-kormiltseva.jpg", alt="фотография Александры Кормильцевой")
              .reviews__desc Спасибо большое команде #[a(href="https://yachtingtime.ru/") #[strong Yachting Time]] за то, что первое знакомство с яхтингом было настолько захватывающим и веселым, что теперь представить свою жизнь без яхты и моря уже не невозможно!
              .reviews__author 
                a(href="https://vk.com/topic-158155317_41161404?post=4") Александра Кормильцева
                time(datetime="2018-06") апрель 2019
          li.glide__slide.reviews__slide
            .reviews__item
              .reviews__img
                img(src="img/reviews/Inna-lekontseva-collin.jpg", alt="фотография Инны")
              .reviews__desc Это было незабываемое путешествие! Яхтинг – это новый мир возможностей и эмоций. Всем от души рекомендую! И конечно же большое спасибо команде и капитану, без него бы ничего не получилось!
              .reviews__author 
                a(href="https://vk.com/topic-158155317_41161404?post=4") Inna Lekontseva-Collin
                time(datetime="2018-10") июнь 2018
      .reviews__bullets.glide__bullets(data-glide-el="controls[nav]")
        button.reviews__bullet.glide__bullet(type="button" data-glide-dir="=0" aria-label="Переключить на отзыв 1")
        button.reviews__bullet.glide__bullet(type="button" data-glide-dir="=1" aria-label="Переключить на отзыв 2")
        button.reviews__bullet.glide__bullet(type="button" data-glide-dir="=2" aria-label="Переключить на отзыв 3")