section.landing__reviews.reviews
  h2.reviews__title Отзывы
  .reviews__slider
    .glide
      .glide__track(data-glide-el="track")
        ul.glide__slides
          li.glide__slide
            .reviews__item
              .reviews__img
                img(src="#", alt="опиание")
              .reviews__desc Это было незабываемое путешествие и хочется снова его повторить! Яхтинг – это новый мир возможностей и эмоций! Всем от души рекомендую! И конечно же большое спасибо команде и капитану, без него бы ничего не получилось!
              .reviews__author 
                strong Inna Lekontseva-Collin
                time(datetime="2018-06") июнь 2018
          li.glide__slide
            .reviews__item
              .reviews__img
                img(src="#", alt="опиание")
              .reviews__desc Это было незабываемое путешествие и хочется снова его повторить! Яхтинг – это новый мир возможностей и эмоций! Всем от души рекомендую! И конечно же большое спасибо команде и капитану, без него бы ничего не получилось!
              .reviews__author 
                strong Inna Lekontseva-Collin
                time(datetime="2018-06") июнь 2018
          li.glide__slide
            .reviews__item
              .reviews__img
                img(src="#", alt="опиание")
              .reviews__desc Это было незабываемое путешествие и хочется снова его повторить! Яхтинг – это новый мир возможностей и эмоций! Всем от души рекомендую! И конечно же большое спасибо команде и капитану, без него бы ничего не получилось!
              .reviews__author 
                strong Inna Lekontseva-Collin
                time(datetime="2018-06") июнь 2018
      .reviews__bullets.glide__bullets(data-glide-el="controls[nav]")
        button.reviews__bullet.glide__bullet(type="button" data-glide-dir="=0" aria-label="Переключить на отзыв 1"))
        button.reviews__bullet.glide__bullet(type="button" data-glide-dir="=1" aria-label="Переключить на отзыв 2")
        button.reviews__bullet.glide__bullet(type="button" data-glide-dir="=2" aria-label="Переключить на отзыв 3")