.landing__scheme.scheme
  .scheme__wrap
    .scheme__list
      .scheme__item
        button(type="button" aria-label="Описание кнопки").scheme__btn
          span Яхта
        .scheme__desc
         p Мы путешествуем на 13-15 метровых яхтах. В каждой из них имеется 4-5 кают, полноценная кухня, а также пространство для отдыха.
      .scheme__item
        button(type="button" aria-label="Описание кнопки").scheme__btn
          span Яхта
        .scheme__desc
         p Мы путешествуем на 13-15 метровых яхтах. В каждой из них имеется 4-5 кают, полноценная кухня, а также пространство для отдыха.
