ul.social__list
    li.social__item
        a(href="https://vk.com/yachting_time" aria-label="группа вконтакте Yachting Time").social__link
            img(src="img/vk.svg", alt="Вконтакте")
    li.social__item
        a(href="https://www.instagram.com/yachting_time/" aria-label="инстаграмм Yachting Time").social__link
            img(src="img/instagram.svg", alt="Инстаграмм" )
    li.social__item
        a(href="https://www.youtube.com/channel/UChxQ2n8YUJREQP_0Tzjt2yw" aria-label="ютуб-канал Yachting Time").social__link
            img(src="img/youtube.svg", alt="Ютуб")