section.landing__team.team
  h2.team__title
  ul.team__list
    li.team__item
      figure.team__img
        img(src="#", alt="Описание")
        h3.team__name Александр Скворцов
        figcaption Капитан, более 4000 морских миль
      p Море - прекрасный учитель! Тут всё по-настоящему. В море мы проявляемся такими, какими есть.. Прекрасная возможность взять обратную связь и стать чуточку лучше, чем вчера!
    li.team__item
      figure.team__img
        img(src="#", alt="Описание")
        h3.team__name Сергей Кыликов
        figcaption Капитан, более 3500 морских миль
      p Считаю, что настоящий капитан - это мульти-личность, человек, который бысто и точно принимает решения и умеет одинаково хорошо работать и руками, и головой.
    li.team__item
      figure.team__img
        img(src="#", alt="Описание")
        h3.team__name Ольга Алымова
        figcaption Капитан, более 3000 морских миль
      p Взгляд на мир с другой стороны от береговой линии способен в целом изменить восприятие жизни. Такой опыт способен наполнять свежим бризом всю нашу жизнь еще долгое время после возвращения на берег.
