section.landing__upcoming-trips.upcoming-trips
  h2.upcoming-trips__title Предстоящие путешествия
  ul.upcoming-trips__list
    li.upcoming-trips__item
      .upcoming-trips__item-wrap
        .upcoming-trips__weather.weather
          .weather__wrap.weather__wrap--day
            span.weather__days 7 дней
            span.weather__temperature +27°C
          .weather__wrap.weather__wrap--night
            span.weather__days 6 ночей
            span.weather__temperature +22°C
        time.upcoming-trips__time(datetime="2020-04") 25 апреля - 2 мая
        h3.upcoming-trips__name Архипелаг Додеканес
        p.upcoming-trips__desc Весна на юге Греции
        strong.upcoming-trips__price 660€
        span.upcoming-trips__unavailable 2 места
      .upcoming-trips__item-hover
        h3 Что вы увидите:
        ul
          li Необитаемый остров Алимья
          li Самую большую марину о. Родос
          li Бескрайние зеленые пейзажи
          li Могущественные горы
    li.upcoming-trips__item
      .upcoming-trips__item-wrap
        .upcoming-trips__weather.weather
          .weather__wrap.weather__wrap--day
            span.weather__days 7 дней
            span.weather__temperature +27°C
          .weather__wrap.weather__wrap--night
            span.weather__days 6 ночей
            span.weather__temperature +22°C
        time.upcoming-trips__time(datetime="2020-04") 2 мая - 9 мая
        h3.upcoming-trips__name Турция
        p.upcoming-trips__desc Майские праздники на море
        strong.upcoming-trips__price 650€
        span.upcoming-trips__unavailable Мест нет
      .upcoming-trips__item-hover
        h3 Что вы увидите:
        ul
          li Долину бабочек
          li Черепаший пляж Изтузу 
          li Пиратскую бухту Бештан
          li Древние города
      li.upcoming-trips__item
        .upcoming-trips__item-wrap
          .upcoming-trips__weather.weather
            .weather__wrap.weather__wrap--day
              span.weather__days 7 дней
              span.weather__temperature +27°C
            .weather__wrap.weather__wrap--night
              span.weather__days 6 ночей
              span.weather__temperature +22°C
          time.upcoming-trips__time(datetime="2020-04") 9 мая - 16 мая
          h3.upcoming-trips__name Турция
          p.upcoming-trips__desc Взгляд с другой стороны
          strong.upcoming-trips__price 660€
          span.upcoming-trips__unavailable 3 места
        .upcoming-trips__item-hover
          h3 Что вы увидите:
          ul
            li Долину бабочек
            li Черепаший пляж Изтузу 
            li Пиратскую бухту Бештан
            li Древние города
    li.upcoming-trips__item
      .upcoming-trips__item-wrap
        .upcoming-trips__weather.weather
          .weather__wrap.weather__wrap--day
            span.weather__days 7 дней
            span.weather__temperature +29°C
          .weather__wrap.weather__wrap--night
            span.weather__days 6 ночей
            span.weather__temperature +24°C
        time.upcoming-trips__time(datetime="2020-04") 25 июня - 7 июля
        h3.upcoming-trips__name Хорватия
        p.upcoming-trips__desc Путь в жемчужину Адриатики
        strong.upcoming-trips__price 650€
        span.upcoming-trips__unavailable 5 мест
      .upcoming-trips__item-hover
        h3 Что вы увидите:
        ul
          li Место съемок “Игры Престолов”
          li Средневековые замки и крепости
          li Самый зеленый остров Адриатики
          li Один из лучших пляжей Европы
    li.upcoming-trips__item
      .upcoming-trips__item-wrap
        .upcoming-trips__weather.weather
          .weather__wrap.weather__wrap--day
            span.weather__days 7 дней
            span.weather__temperature +29°C
          .weather__wrap.weather__wrap--night
            span.weather__days 6 ночей
            span.weather__temperature +24°C
        time.upcoming-trips__time(datetime="2020-04") 4 июля - 11 июля
        h3.upcoming-trips__name Хорватия
        p.upcoming-trips__desc По островам Средней Долмации
        strong.upcoming-trips__price 650€
        span.upcoming-trips__unavailable 4 места
      .upcoming-trips__item-hover
        h3 Что вы увидите:
        ul
          li Средневековые замки и церкви
          li Съемочную площадку “Игры престолов”
          li Один из лучших пляжей Европы
          li Секретные бухты
    li.upcoming-trips__item.upcoming-trips__item--unavailable
      .upcoming-trips__item-wrap
        .upcoming-trips__weather.weather
          .weather__wrap.weather__wrap--day
            span.weather__days 7 дней
            span.weather__temperature +32°C
          .weather__wrap.weather__wrap--night
            span.weather__days 6 ночей
            span.weather__temperature +25°C
        time.upcoming-trips__time(datetime="2020-04") 8 августа - 15 августа
        h3.upcoming-trips__name Сицилия
        p.upcoming-trips__desc Липарские острова
        strong.upcoming-trips__price 850€
        span.upcoming-trips__unavailable 6 мест
      .upcoming-trips__item-hover
        h3 Что вы увидите:
        ul
          li Пещеры и виноградники
          li Остров с действующими вулканами
          li Архитектуру эпохи Возрождения
          li Горячие источники
