section.landing__upcoming-trips.upcoming-trips
  h2.upcoming-trips__title Предстоящие путешествия
  ul.upcoming-trips__list
    li.upcoming-trips__item
      .upcoming-trips__item-wrap(style="background-image: url('img/upcoming-trips/dodecanes.jpg')")
        .upcoming-trips__weather.weather
          .weather__wrap.weather__wrap--day
            span.weather__days.weather__days 7 дней
            span.weather__temperature +27°C
          .weather__wrap.weather__wrap--night
            span.weather__days 6 ночей
            span.weather__temperature +22°C
          .upcoming-trips__places
            span 2 места
        .upcoming-trips__wrap-title
          h3.upcoming-trips__name Архипелаг Додеканес
          p.upcoming-trips__desc Весна на юге Греции
          strong.upcoming-trips__price 660€
        .upcoming-trips__time-wrap
          time.upcoming-trips__time(datetime="2020-04") 25 апреля - 2 мая
        button.upcoming-trips__btn-mobile(type='button' aria-label='смотреть подробнее')
        
      .upcoming-trips__item-hover.upcoming-trips__item-hover--dodecanes
        button.upcoming-trips__btn.upcoming-trips__btn--program(type='button') Узнать программу
        button.upcoming-trips__btn.upcoming-trips__btn--book(type='button') Забронировать
        button.upcoming-trips__btn-mobile(type='button' aria-label='вернуться')
    
    li.upcoming-trips__item
      .upcoming-trips__item-wrap(style="background-image: url('img/upcoming-trips/tourkin-may.jpg')")
        .upcoming-trips__weather.weather
          .weather__wrap.weather__wrap--day
            span.weather__days 7 дней
            span.weather__temperature +27°C
          .weather__wrap.weather__wrap--night
            span.weather__days 6 ночей
            span.weather__temperature +22°C
          .upcoming-trips__places.upcoming-trips__places--not
            span Мест нет
        .upcoming-trips__wrap-title
          h3.upcoming-trips__name Турция
          p.upcoming-trips__desc Майские праздники на море
          strong.upcoming-trips__price 650€
        .upcoming-trips__time-wrap
          time.upcoming-trips__time(datetime="2020-04") 2 мая - 9 мая
        button.upcoming-trips__btn-mobile(type='button' aria-label='смотреть подробнее')
      
      .upcoming-trips__item-hover.upcoming-trips__item-hover--tourkin-may
        p Оставьте свой номер и мы свяжемся с вами, когда места появятся
        button.upcoming-trips__btn.upcoming-trips__btn--tel(type='button') Оставить номер
        button.upcoming-trips__btn-mobile(type='button' aria-label='вернуться')
        
      li.upcoming-trips__item
        .upcoming-trips__item-wrap(style="background-image: url('img/upcoming-trips/tourkin-view.jpg')")
          .upcoming-trips__weather.weather
            .weather__wrap.weather__wrap--day
              span.weather__days 7 дней
              span.weather__temperature +27°C
            .weather__wrap.weather__wrap--night
              span.weather__days 6 ночей
              span.weather__temperature +22°C
            .upcoming-trips__places 
              span 3 места
          .upcoming-trips__wrap-title
            h3.upcoming-trips__name Турция
            p.upcoming-trips__desc Взгляд с другой стороны
            strong.upcoming-trips__price 660€
          .upcoming-trips__time-wrap
            time.upcoming-trips__time(datetime="2020-04") 9 мая - 16 мая
          button.upcoming-trips__btn-mobile(type='button' aria-label='смотреть подробнее')
        
        .upcoming-trips__item-hover.upcoming-trips__item-hover--tourkin-view
          button.upcoming-trips__btn.upcoming-trips__btn--program(type='button') Узнать программу
          button.upcoming-trips__btn.upcoming-trips__btn--book(type='button') Забронировать
          button.upcoming-trips__btn-mobile(type='button' aria-label='вернуться')
    
    li.upcoming-trips__item
      .upcoming-trips__item-wrap(style="background-image: url('img/upcoming-trips/horvatia-way.jpg')")
        .upcoming-trips__weather.weather
          .weather__wrap.weather__wrap--day
            span.weather__days 7 дней
            span.weather__temperature +29°C
          .weather__wrap.weather__wrap--night
            span.weather__days 6 ночей
            span.weather__temperature +24°C
          .upcoming-trips__places
            span 5 мест
        .upcoming-trips__wrap-title
          h3.upcoming-trips__name Хорватия
          p.upcoming-trips__desc Путь в жемчужину Адриатики
          strong.upcoming-trips__price 650€
        .upcoming-trips__time-wrap
          time.upcoming-trips__time(datetime="2020-04") 25 июня - 7 июля
        button.upcoming-trips__btn-mobile(type='button' aria-label='смотреть подробнее')
      
      .upcoming-trips__item-hover.upcoming-trips__item-hover--horvatia-way
        button.upcoming-trips__btn.upcoming-trips__btn--program(type='button') Узнать программу
        button.upcoming-trips__btn.upcoming-trips__btn--book(type='button') Забронировать
        button.upcoming-trips__btn-mobile(type='button' aria-label='вернуться')
    
    li.upcoming-trips__item
      .upcoming-trips__item-wrap(style="background-image: url('img/upcoming-trips/horvatia-isle.jpg')")
        .upcoming-trips__weather.weather
          .weather__wrap.weather__wrap--day
            span.weather__days 7 дней
            span.weather__temperature +29°C
          .weather__wrap.weather__wrap--night
            span.weather__days 6 ночей
            span.weather__temperature +24°C
          .upcoming-trips__places 
            span 4 места
        .upcoming-trips__wrap-title
          h3.upcoming-trips__name Хорватия
          p.upcoming-trips__desc По островам Средней Долмации
          strong.upcoming-trips__price 650€
        .upcoming-trips__time-wrap
          time.upcoming-trips__time(datetime="2020-04") 4 июля - 11 июля
        button.upcoming-trips__btn-mobile(type='button' aria-label='смотреть подробнее')

      .upcoming-trips__item-hover.upcoming-trips__item-hover--horvatia-isle
        button.upcoming-trips__btn.upcoming-trips__btn--program(type='button') Узнать программу
        button.upcoming-trips__btn.upcoming-trips__btn--book(type='button') Забронировать
        button.upcoming-trips__btn-mobile(type='button' aria-label='вернуться')

    li.upcoming-trips__item.upcoming-trips__item--unavailable
      .upcoming-trips__item-wrap(style="background-image: url('img/upcoming-trips/sicilia.jpg')")
        .upcoming-trips__weather.weather
          .weather__wrap.weather__wrap--day
            span.weather__days 7 дней
            span.weather__temperature +32°C
          .weather__wrap.weather__wrap--night
            span.weather__days 6 ночей
            span.weather__temperature +25°C
          .upcoming-trips__places 
            span 6 мест
        .upcoming-trips__wrap-title
          h3.upcoming-trips__name Сицилия
          p.upcoming-trips__desc Липарские острова
          strong.upcoming-trips__price 850€
        .upcoming-trips__time-wrap
          time.upcoming-trips__time(datetime="2020-04") 8 августа - 15 августа
        button.upcoming-trips__btn-mobile(type='button' aria-label='смотреть подробнее')
      
      .upcoming-trips__item-hover.upcoming-trips__item-hover--sicilia
        button.upcoming-trips__btn.upcoming-trips__btn--program(type='button') Узнать программу
        button.upcoming-trips__btn.upcoming-trips__btn--book(type='button') Забронировать
        button.upcoming-trips__btn-mobile(type='button' aria-label='вернуться')
  
  button.upcoming-trips__btn-collapse.upcoming-trips__btn-collapse--max(type='button') Развернуть
  button.upcoming-trips__btn-collapse.upcoming-trips__btn-collapse--min(type='button') Свернуть
