section.landing__upcoming-trips.upcoming-trips
  h2 Предстоящие путешествия
  ul.upcoming-trips__list
    li.upcoming-trips__item
      .upcoming-trips__weather.weather
        .weather__wrap.weather__wrap--day
          span.weather__days 7 дней
          span.weather__temperature +27°C
        .weather__wrap.weather__wrap--night
          span.weather__days 6 ночей
          span.weather__temperature +22°C
      time.upcoming-trips__time(datetime="2020-04") 25 апреля - 2 мая
      h3.upcoming-trips__name Архипелаг Додеканес
      p.upcoming-trips__desc Весна на юге Греции
      strong.upcoming-trips__price 660€
      span.upcoming-trips__unavailable Мест нет
    li.upcoming-trips__item
      .upcoming-trips__weather.weather
        .weather__wrap.weather__wrap--day
          span.weather__days 7 дней
          span.weather__temperature +27°C
        .weather__wrap.weather__wrap--night
          span.weather__days 6 ночей
          span.weather__temperature +22°C
      time.upcoming-trips__time(datetime="2020-04") 25 апреля - 2 мая
      h3.upcoming-trips__name Архипелаг Додеканес
      p.upcoming-trips__desc Весна на юге Греции
      strong.upcoming-trips__price 660€
      span.upcoming-trips__unavailable Мест нет
    li.upcoming-trips__item
      .upcoming-trips__weather.weather
        .weather__wrap.weather__wrap--day
          span.weather__days 7 дней
          span.weather__temperature +27°C
        .weather__wrap.weather__wrap--night
          span.weather__days 6 ночей
          span.weather__temperature +22°C
      time.upcoming-trips__time(datetime="2020-04") 25 апреля - 2 мая
      h3.upcoming-trips__name Архипелаг Додеканес
      p.upcoming-trips__desc Весна на юге Греции
      strong.upcoming-trips__price 660€
      span.upcoming-trips__unavailable Мест нет
    li.upcoming-trips__item
      .upcoming-trips__weather.weather
        .weather__wrap.weather__wrap--day
          span.weather__days 7 дней
          span.weather__temperature +27°C
        .weather__wrap.weather__wrap--night
          span.weather__days 6 ночей
          span.weather__temperature +22°C
      time.upcoming-trips__time(datetime="2020-04") 25 апреля - 2 мая
      h3.upcoming-trips__name Архипелаг Додеканес
      p.upcoming-trips__desc Весна на юге Греции
      strong.upcoming-trips__price 660€
      span.upcoming-trips__unavailable Мест нет
    li.upcoming-trips__item
      .upcoming-trips__weather.weather
        .weather__wrap.weather__wrap--day
          span.weather__days 7 дней
          span.weather__temperature +27°C
        .weather__wrap.weather__wrap--night
          span.weather__days 6 ночей
          span.weather__temperature +22°C
      time.upcoming-trips__time(datetime="2020-04") 25 апреля - 2 мая
      h3.upcoming-trips__name Архипелаг Додеканес
      p.upcoming-trips__desc Весна на юге Греции
      strong.upcoming-trips__price 660€
      span.upcoming-trips__unavailable Мест нет
    li.upcoming-trips__item.upcoming-trips__item--unavailable
      .upcoming-trips__weather.weather
        .weather__wrap.weather__wrap--day
          span.weather__days 7 дней
          span.weather__temperature +27°C
        .weather__wrap.weather__wrap--night
          span.weather__days 6 ночей
          span.weather__temperature +22°C
      time.upcoming-trips__time(datetime="2020-04") 25 апреля - 2 мая
      h3.upcoming-trips__name Архипелаг Додеканес
      p.upcoming-trips__desc Весна на юге Греции
      strong.upcoming-trips__price 660€
      span.upcoming-trips__unavailable Мест нет
        