section.landing__yacht.yacht
h2.yacht__title Быт на яхте
.yacht__slider
    div.glide
      div.glide__track(data-glide-el="track")
        ul.glide__slides
          li.glide__slide
            .yacht__slide
              p.yacht__desc Мы путешествуем на 13-15 метровых яхтах. В каждой из них имеется 4-5 кают, полноценная кухня, а также пространство для отдыха.
              .yacht__img
                img(src="#", alt="описание")
          li.glide__slide
            .yacht__slide
              p.yacht__desc Мы путешествуем на 13-15 метровых яхтах. В каждой из них имеется 4-5 кают, полноценная кухня, а также пространство для отдыха.
              .yacht__img
                img(src="#", alt="описание")
          li.glide__slide
            .yacht__slide
              p.yacht__desc Мы путешествуем на 13-15 метровых яхтах. В каждой из них имеется 4-5 кают, полноценная кухня, а также пространство для отдыха.
              .yacht__img
                img(src="#", alt="описание")
          li.glide__slide
            .yacht__slide
              p.yacht__desc В каждой из них имеется 4-5 кают, полноценная кухня, а также пространство для отдыха.
              .yacht__img
                img(src="#", alt="описание")
      div.yacht__tabs-list.glide__bullets(data-glide-el="controls[nav]")
        button.yacht__tab.glide__bullet(type="button" data-glide-dir="=0")
          span.yacht__tab-text Яхта
        button.yacht__tab.glide__bullet(type="button" data-glide-dir="=1")
          span.yacht__tab-text Проживание
        button.yacht__tab.glide__bullet(type="button" data-glide-dir="=2")
          span.yacht__tab-text Питание
        button.yacht__tab.glide__bullet(type="button" data-glide-dir="=3")
          span.yacht__tab-text Гигиена
