section.landing__yacht.yacht
  h2.yacht__title Быт на яхте
  .yacht__slider
    .glide.yacht-glide
      .glide__track(data-glide-el="track")
        ul.glide__slides
          li.glide__slide
            .yacht__slide
              .yacht__img
                img(src="img/yacht/yacht.jpg", alt="интерьер яхты")
              .yacht__desc
                p Мы путешествуем на 13-15 метровых яхтах. В каждой из них имеется 4-5 кают, полноценная кухня, а также пространство для отдыха.
          li.glide__slide
            .yacht__slide
              .yacht__img
                img(src="img/yacht/residence.jpg", alt="каюта")
              .yacht__desc-wrap
                p.yacht__desc В каждой каюте размещаются по  1-2 человека. Также можно арендовать каюту целиком.
          li.glide__slide
            .yacht__slide
              .yacht__img
                img(src="img/yacht/nutrition.jpg", alt="блюдо из морепродуктов")
              .yacht__desc
                p Завтраки, обеды и перекусы  готовим на яхте, ужин можем провести в ресторане.
                p Перед отправкой из порта мы закупаем продукты на средства из #[a(title='Денежные средства, предназначенные для общих расходов. В среднем взнос в судовую кассу составляет 150 € с человека') Судовой кассы].

          li.glide__slide
            .yacht__slide
              .yacht__img
                img(src="img/yacht/hygiene.jpg", alt="Чистая ванная комната")
              .yacht__desc-wrap
                p.yacht__desc На яхте расположены две ванные комнаты с туалетом душевыми кабинами, а также бойлер и баки с запасами пресной воды.
      div.yacht__tabs-list.glide__bullets(data-glide-el="controls[nav]")
        button.yacht__tab.glide__bullet(type="button" data-glide-dir="=0" aria-label="Переключить на слайд 'Яхта'")
          span.yacht__tab-text Яхта
        button.yacht__tab.glide__bullet(type="button" data-glide-dir="=1" aria-label="Переключить на слайд 'Проживание'")
          span.yacht__tab-text Проживание
        button.yacht__tab.glide__bullet(type="button" data-glide-dir="=2" aria-label="Переключить на слайд 'Питание'")
          span.yacht__tab-text Питание
        button.yacht__tab.glide__bullet(type="button" data-glide-dir="=3" aria-label="Переключить на слайд 'Удобства'")
          span.yacht__tab-text Удобства
