section.landing__yacht.yacht
  h2.yacht__title Быт на яхте
  .yacht__slider
      div.glide
        div.glide__track(data-glide-el="track")
          ul.glide__slides
            li.glide__slide
              .yacht__slide
                p.yacht__desc Мы путешествуем на 13-15 метровых яхтах. В каждой из них имеется 4-5 кают, полноценная кухня, а также пространство для отдыха.
                .yacht__img
                  img(src="#", alt="описание")
            li.glide__slide
              .yacht__slide
                p.yacht__desc В каждой каюте размещаются по  1-2 человека. Также можно арендовать каюту целиком.
                .yacht__img
                  img(src="#", alt="описание")
            li.glide__slide
              .yacht__slide
                p.yacht__desc Завтраки, обеды и перекусы мы готовим на яхте. Ужины возможны в ресторане или также на яхте. 
                .yacht__img
                  img(src="#", alt="описание")
            li.glide__slide
              .yacht__slide
                p.yacht__desc На яхте расположены две ванные комнаты с туалетом душевыми кабинами, а также бойлер и баки с запасами пресной воды.
                .yacht__img
                  img(src="#", alt="описание")
        div.yacht__tabs-list.glide__bullets(data-glide-el="controls[nav]")
          button.yacht__tab.glide__bullet(type="button" data-glide-dir="=0" aria-label="Переключить на слайд 'Яхта'")
            span.yacht__tab-text Яхта
          button.yacht__tab.glide__bullet(type="button" data-glide-dir="=1" aria-label="Переключить на слайд 'Проживание'")
            span.yacht__tab-text Проживание
          button.yacht__tab.glide__bullet(type="button" data-glide-dir="=2" aria-label="Переключить на слайд 'Питание'")
            span.yacht__tab-text Питание
          button.yacht__tab.glide__bullet(type="button" data-glide-dir="=3" aria-label="Переключить на слайд 'Гигиена'")
            span.yacht__tab-text Гигиена
