$font-main: 'Montserrat','Arial', sans-serif;
$mobile-width: 320px;
$tablet-small-width: 660px;
$tablet-width: 900px;
$desktop-width: 1250px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #000000;
$gray:#e4e3e3;
$dark-gray: #b6b6b6;
$red: #d2b0b0;
$blue: #86b8df;
// $blue: rgb(124, 170, 234);
$blue-dark: rgba(35,28,28,.5);
// $blue-dark: #4676b9;