$font-main: "Roboto","Arial", sans-serif;
$font-accent: "RobotoSlab","Times New Roman", serif;
$mobile-width: 320px;
$tablet-width: 900px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$font-gray: #424242;
$font-black: #393939;
$main-bg: #f7f7f7;
$blue-black: rgba(59, 87, 161, .7);
$blue: #428bca;
$red: #cc5185;
$gray: #ececec;
$green: #44a2a4;
$line-gray: #cacaca;
